:root {
  --white: #ffffff;
  --black: #000000;
  --light_green: #4e9c5a;
  --dark_grey: #121A21;
  --light_grey: #767676;
}
$white: var(--white);
$black: var(--black);
$light_green: var(--light_green);
$dark_grey: var(--dark_grey);
$light_grey: var(--light_grey);

main.about-us{
  // strategic choice section starts
  .strategic-choice-wrapper{
    position: relative;
    z-index: 9;
    // 1024 - 1920 : 40 - 83
    padding-top: clamp(2.5rem, -0.5720rem + 4.8000vw, 5.188rem);
    @media(max-width: 767px){
      // 320 - 767 : 80 - 100
      padding-top: clamp(5rem, 4.1051rem + 4.4743vw, 6.25rem);
    }
    .container{
      max-width: 1550px;
      // border-radius: 4px;
      // background: #FFF;
      // box-shadow: 0 7px 26.2px 0 rgba(0, 0, 0, 0.05);
      // 1024 - 1920 : 30 50 - 67 - 112
      // padding: clamp(1.875rem, -0.7684rem + 4.1304vw, 4.188rem) clamp(3.125rem, -1.3036rem + 6.9196vw, 7rem);
      @media(max-width: 1700px){
        max-width: 85%;
      }
      @media(max-width: 1150px){
        max-width: 90%;
      }
      @media(max-width: 1024px){
        // 768 - 1024 : 35 30 - 40 35
        // padding: clamp(2.188rem, 1.2520rem + 1.9500vw, 2.5rem) clamp(1.875rem, 0.9360rem + 1.9563vw, 2.188rem);
      }
      @media(max-width: 767px){
        // 320 - 767 : 40 15 - 50 15
        // padding: clamp(2.5rem, 2.0526rem + 2.2371vw, 3.125rem) 15px;
      }
      ul{
        max-width: 980px;
        margin-right: auto;
        // 1024 - 1920 : 80 - 150
        margin-left: clamp(5rem, 0.0000rem + 7.8125vw, 9.375rem);
        li{
          display: flex;
          align-items: flex-start;
          // 1024 - 1920 : 40 - 87
          margin-bottom: clamp(2.5rem, -0.8577rem + 5.2464vw, 5.438rem);
          .left{
            width: 140px;
            height: 160px;
            margin-top: 50px;
            // 1024 - 1920 : 30 - 80
            margin-right: clamp(1.875rem, -1.6964rem + 5.5804vw, 5rem);
            @media(max-width: 1500px){
              width: 130px;
              height: 150px;
              margin-top: 45px;
            }
            @media(max-width: 1380px){
              width: 120px;
              height: 160px;
              margin-top: 40px;
            }
            @media(max-width: 1180px){
              width: 100px;
              height: 140px;
              margin-top: 30px;
            }
            @media(max-width: 767px){
              width: 60px;
              height: 60px;
              margin-right: 15px;
              margin-top: 0;
            }
            svg{
              width: 100%;
              height: 100%;
              path{
                fill: #8F8F8F;
                transition: fill 0.5s ease-in-out;
              }
            }
          }
          .count{
            width: 70px;
            height: 70px;
            background-color: #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-family: HelvNowDis-medium;
            color: #8D8D8D;
            border-radius: 100%;
            // 1024 - 1920 : 28 - 54
            font-size: clamp(1.75rem, -8.8125rem + 13.0000vw, 3.375rem);
            position: absolute;
            top: 0px;
            left: -35px;
            transition: all 0.3s ease-in-out;
            @media(max-width: 1680px){
              top: 10px;
            }
            @media(max-width: 767px){
              top: 65px;
            }
          }
          .right{
            width: 95%;
            // 1024 - 1920 : 48 - 90
            padding-left: clamp(3rem, 0.0000rem + 4.6875vw, 5.625rem);
            position: relative;
            @media(max-width: 767px){
              width: 90%;
            }
            // &:before{
            //   content: '';
            //   position: absolute;
            //   width: 17px;
            //   height: 17px;
            //   border-radius: 100%;
            //   // background-color: var(--light_green);
            //    background-color: #8F8F8F;
            //   top: 17px;
            //   left: -8px;
            //   @media(max-width: 1680px){
            //     top: 10px;
            //   }
            //    @media(max-width: 1380px){
            //     width: 15px;
            //     height: 15px;
            //   }
            //   @media(max-width: 767px){
            //     width: 12px;
            //     height: 12px;
            //     top: 65px;
            //     left: -44px;
            //   }
            // }
            &:after{
              content: '';
              position: absolute;
              width: 9px;
              // height: 79%;
              height: calc(100% - 45px);
              // background-color: var(--light_green);
              background-color: #D9D9D9;
              top: 65px;
              left: -3px;
              z-index: 0;
              @media(max-width: 767px){
                top: 86px;
                left: -39px;
                bottom: auto;
                height: 60%;
              }
            }
            .line-fill{
              position: absolute;
              width: 9px;
              // height: 0%; /* start empty */
              height: calc(100% - 45px);
              background-color: var(--light_green); /* grey */
              top: 65px;
              left: -3px;
              z-index: 2;
              transform: scaleY(0);
              transform-origin: top;
              @media(max-width: 767px){
                top: 86px;
                left: -39px;
                bottom: auto;
                height: 60%;
              }

              //  &:after{
              //   content: '';
              //   position: absolute;
              //   width: 2px;
              //   // height: 79%;
              //   height: calc(100% - 45px);
              //   border-radius: 100%;
              //   background-color: var(--light_green);
              //   bottom: 0;
              //   left: 0;
              //   @media(max-width: 767px){
              //     top: 86px;
              //     left: -39px;
              //     bottom: auto;
              //     height: 75%;
              //   }
              // }
            }
            p{
              font-family: HelvNowDis-light;
              color: #4d4d4d;

              line-height: 1.6em;
            }
            p.title{
              // 1024 - 1920 : 30 - 56
              margin-bottom: clamp(1.875rem, 0.0179rem + 2.9018vw, 3.5rem);
              color: #8D8D8D;
              font-family: HelvNowDis-Bold;
              font-weight: 700;
              line-height: 1.2em;
              // 320 - 1920 : 25 - 48
              font-size: clamp(1.563rem, -7.7775rem + 11.4960vw, 3rem);
              @media(max-width: 767px){
                margin-bottom: 20px;
              }
            }
            &.active{
              &:before{
                background-color: var(--light_green);
              }
              .title{
                color: var(--light_green);
                transition: color 0.5s ease-in-out;
              }
              .count{
                background-color: var(--light_green);
                color: var(--white);
                transition: all 0.3s ease-in-out;
              }
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
          &.active{
            .left{
              svg{
                path{
                  fill: var(--light_green);
                  transition: fill 0.5s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
  // strategic choice section ends

  // about values section starts
  .abt-values-wrapper{
    background: rgba(253, 253, 253, 0.20);
    .container{
      display: flex;
      flex-direction: row;
      align-items: center;
      .values-left{
        // 1024 - 1920 : 37 - 70
        margin-right: clamp(2.313rem, -0.0436rem + 3.6821vw, 4.375rem);
      }
      .values-right{
        width: 80%;
        .value-list{
          display: flex;
          // 1024 - 1920 : 29 - 55
          gap: clamp(1.813rem, -0.0441rem + 2.9018vw, 3.438rem);
          li{
            width: 33.33%;
          }
          .green-box{
            border-radius: 20px;
            background: #4E9C5A;
            padding: 19px 14px;
            width: 138px;
            height: 135px;
          }
          .white-box{
            justify-self: flex-end;
            position: relative;
            top: -48px;
            right: 55px;
            border-radius: 20px;
            background: rgba(217, 217, 217, 0.20);
            box-shadow: -3px 6px 14.9px 0 rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            text-align: center;
            width: 295px;
            height: 225px;
            // 1024 - 1920 : 20 - 40
            padding: clamp(1.25rem, -0.1786rem + 2.2321vw, 2.5rem);
            p{
              font-family: HelvNowDis-light;
              font-weight: 300;
              color: #4D4D4D;
              // 320 - 1920 : 14 - 22
              font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
              @media(max-width: 1500px){
                font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
              }
              @media(max-width: 767px){
                // 340 - 767 : 17 - 20
                font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
              }
              &.value-title{
                font-weight: 500;
                font-family: HelvNowDis-medium;
              }
            }
          }
        }
      }
    }
  }
  // about values section ends
}