:root {
  --white: #ffffff;
  --black: #000000;
  --light_green: #4e9c5a;
  --dark_grey: #121A21;
  --light_grey: #767676;
}

@media (max-width: 900px) {
  .home header .inner-container .company-logo .logo-black {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .home header .inner-container .company-logo .logo-white {
    display: block !important;
  }
}
@media (max-width: 900px) {
  .home .mob-menu-click .ham .line {
    stroke: var(--white) !important;
  }
}
@media (max-width: 900px) {
  .home header.scrolled .inner-container .company-logo .logo-black {
    display: block !important;
  }
}
@media (max-width: 900px) {
  .home header.scrolled .inner-container .company-logo .logo-white {
    display: none !important;
  }
}
.home header.active {
  background-color: var(--white);
}
.home header.active .company-logo .logo-black {
  display: block !important;
  transition: all 0.5s ease-in-out;
}
.home header.active .company-logo .logo-white {
  display: none !important;
  transition: all 0.5s ease-in-out;
}
.home .mob-menu-click .hamRotate.active {
  transform: rotate(45deg);
}
.home .mob-menu-click .hamRotate.active .line {
  stroke: var(--dark_grey) !important;
}
.home .mob-menu-click .hamRotate.active .top {
  stroke-dashoffset: -98px;
  stroke-dasharray: 40 139;
}
.home .mob-menu-click .hamRotate.active .bottom {
  stroke-dashoffset: -138px;
  stroke-dasharray: 40 139;
}
@media (max-width: 900px) {
  .home .mob-menu-click.scrolled .ham .line {
    stroke: var(--black) !important;
  }
}

.hero-video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 0;
}
@media (min-width: 768px) and (max-width: 900px) {
  .hero-video-wrapper {
    height: 80vh;
  }
}
@media (min-width: 834px) and (max-width: 1024px) and (orientation: portrait) {
  .hero-video-wrapper {
    height: 70vh;
  }
}
@media (max-width: 767px) {
  .hero-video-wrapper {
    height: 90vh;
  }
}
.hero-video-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.hero-video-wrapper:after {
  content: "";
  background-image: url(../img/hero-graphic-1.svg);
  position: absolute;
  bottom: -66px;
  right: -193px;
  width: 1250px;
  height: 690px;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width: 1500px) {
  .hero-video-wrapper:after {
    bottom: -200px;
    right: -550px;
    width: 1250px;
    height: 690px;
  }
}
@media (max-width: 1536px) {
  .hero-video-wrapper:after {
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 600px;
  }
}
@media (resolution: 1.25dppx) {
  .hero-video-wrapper:after {
    bottom: -160px;
    right: -10px;
    width: 600px;
    height: 600px;
    background-size: cover;
  }
}
@media (max-width: 1380px) {
  .hero-video-wrapper:after {
    bottom: -50px;
    right: -220px;
    width: 900px;
    height: 500px;
    background-size: cover;
  }
}
@media (max-width: 1000px) {
  .hero-video-wrapper:after {
    bottom: 0;
    right: -200px;
    width: 938px;
    height: 465px;
    background-size: cover;
  }
}
@media (max-width: 600px) {
  .hero-video-wrapper:after {
    background-image: url(../img/hero-mob-graphic.svg);
    background-size: contain;
    bottom: -230px;
    right: -202px;
    width: 789px;
    height: 439px;
  }
}
.hero-video-wrapper .container {
  max-width: 100%;
}
@media (max-width: 1536px) {
  .hero-video-wrapper .container {
    height: 100%;
  }
}
.hero-video-wrapper .container .hero-txt {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
@media (max-width: 600px) {
  .hero-video-wrapper .container .hero-txt {
    width: 100%;
  }
}
.hero-video-wrapper .container .hero-txt h1 {
  text-align: center;
  color: var(--white);
}
.hero-video-wrapper .container .hero-txt .view-all {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1536px) {
  .hero-video-wrapper video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.home-intro-wrapper {
  background: url(../img/intro-bg.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 1520px;
  height: 1440px;
  top: 0;
  left: 0;
  background-position: 0 0px;
  position: relative;
}
@media (max-width: 1500px) {
  .home-intro-wrapper {
    height: auto;
  }
}
@media (resolution: 1.25dppx) {
  .home-intro-wrapper {
    height: auto;
  }
}
@media (max-width: 600px) {
  .home-intro-wrapper {
    background-position-y: 90px;
    height: auto;
  }
}
.home-intro-wrapper:after {
  content: "";
  background-image: url(../img/intro-bg-btm-graphic.svg);
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  height: 1269px;
  width: 610px;
  bottom: -1133px;
  right: 0;
  transform: rotate(0deg);
}
@media (max-width: 1700px) {
  .home-intro-wrapper:after {
    bottom: -1110px;
    bottom: -67%;
    height: 1232px;
    width: 560px;
  }
}
@media (max-width: 1600px) {
  .home-intro-wrapper:after {
    bottom: -1000px;
  }
}
@media (max-width: 1500px) {
  .home-intro-wrapper:after {
    height: 850px;
    width: 300px;
    bottom: -83%;
    right: 0;
    background-size: contain;
    transform: rotate(0);
    height: 670px;
    width: 300px;
    bottom: -630px;
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .home-intro-wrapper:after {
    height: 590px;
    width: 265px;
    bottom: -560px;
    right: 0;
    background-size: contain;
    transform: rotate(0deg);
  }
}
@media (min-width: 834px) and (max-width: 1024px) and (orientation: portrait) {
  .home-intro-wrapper:after {
    height: 700px;
    width: 300px;
    bottom: -72%;
    bottom: -670px;
    right: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1180px) and (orientation: landscape) {
  .home-intro-wrapper:after {
    /* iPad Air landscape + similar tablets */
    width: 380px;
    bottom: -87%;
    bottom: -640px;
    bottom: -940px;
    width: 400px;
    height: 1000px;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .home-intro-wrapper:after {
    /* iPad mini landscape + similar tablets */
    height: 854px;
    width: 386px;
    bottom: -84%;
    right: 0;
  }
}
@media (resolution: 1.25dppx) {
  .home-intro-wrapper:after {
    bottom: -954px;
    right: -980px;
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper:after {
    height: 490px;
    width: 210px;
    bottom: -55%;
    right: 0;
    background-size: contain;
    transform: rotate(0deg);
  }
}
@media (max-width: 600px) {
  .home-intro-wrapper:after {
    height: 454px;
    width: 200px;
    bottom: -28%;
    right: 0;
    background-size: contain;
    transform: rotate(0deg);
  }
}
.home-intro-wrapper .container .left {
  width: 60%;
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left {
    width: 100%;
  }
}
.home-intro-wrapper .container .left .count-wrapper {
  margin-bottom: clamp(3.75rem, 0.5351rem + 5.0232vw, 6.563rem);
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul {
    flex-wrap: wrap;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li {
  padding: 0 clamp(1.25rem, 0.3929rem + 1.3393vw, 2rem);
  position: relative;
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li {
    margin-bottom: 20px;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li .count {
  color: var(--light_green);
  margin-bottom: 15px;
  font-size: clamp(2.125rem, -0.0179rem + 3.3482vw, 4rem);
  line-height: 1.06em;
}
@media (max-width: 1023px) {
  .home-intro-wrapper .container .left .count-wrapper ul li .count {
    font-size: clamp(2rem, 1.9612rem + 0.1592vw, 2.063rem);
  }
}
@media (max-width: 389px) {
  .home-intro-wrapper .container .left .count-wrapper ul li .count {
    font-size: clamp(1.875rem, 1.5828rem + 1.4609vw, 1.938rem);
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li .count-txt {
  color: var(--light_grey);
  font-family: HelvNowDis-light;
  line-height: 1.25em;
}
.home-intro-wrapper .container .left .count-wrapper ul li:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--light_green);
  opacity: 0.25;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home-intro-wrapper .container .left .count-wrapper ul li:nth-child(1) {
  padding-left: 0;
  width: 30%;
}
@media (max-width: 1620px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(1) {
    width: 28%;
  }
}
@media (max-width: 1250px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(1) {
    width: 29%;
  }
}
@media (max-width: 1190px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(1) {
    width: 187px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(1) {
    width: 50%;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
  width: 25%;
}
@media (max-width: 1620px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    width: 23%;
  }
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    width: 25%;
  }
}
@media (max-width: 1190px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    width: 50%;
    width: 42%;
    padding-right: 30px;
  }
}
@media (max-width: 356px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    width: 43%;
    padding-right: 20px;
  }
}
@media (max-width: 320px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2) {
    padding-right: 0px;
    width: 46%;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li:nth-child(3) {
  width: 20%;
}
@media (max-width: 1620px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(3) {
    width: 19%;
  }
}
@media (max-width: 1190px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(3) {
    width: 125px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(3) {
    width: 50%;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li:last-child {
  padding-right: 0;
  width: 24%;
}
@media (max-width: 1620px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:last-child {
    width: 22%;
  }
}
@media (max-width: 1190px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:last-child {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:last-child {
    width: 50%;
    width: 42%;
    padding-right: 30px;
  }
}
@media (max-width: 356px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:last-child {
    width: 43%;
    padding-right: 20px;
  }
}
@media (max-width: 320px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:last-child {
    padding-right: 0px;
    width: 46%;
  }
}
.home-intro-wrapper .container .left .count-wrapper ul li:last-child:after {
  display: none;
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(odd) {
    padding-left: 0;
    width: 57%;
    padding-left: 40px;
  }
}
@media (max-width: 365px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(odd) {
    padding-right: 10px;
  }
}
@media (max-width: 355px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(odd) {
    padding-left: 30px;
    width: 55%;
  }
}
@media (max-width: 335px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(odd) {
    padding-left: 20px;
    width: 55%;
  }
}
@media (max-width: 320px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(odd) {
    padding-left: 0px;
    width: 54%;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .left .count-wrapper ul li:nth-child(2n):after {
    display: none;
  }
}
.home-intro-wrapper .container .left .intro-txt h2 {
  font-family: HelvNowDis-reg;
  font-weight: 400;
  line-height: 1.05em;
  font-size: clamp(2.125rem, -0.0179rem + 3.3482vw, 4rem);
}
@media (max-width: 1023px) {
  .home-intro-wrapper .container .left .intro-txt h2 {
    font-size: clamp(2rem, 1.9612rem + 0.1592vw, 2.063rem);
  }
}
@media (max-width: 389px) {
  .home-intro-wrapper .container .left .intro-txt h2 {
    font-size: clamp(1.875rem, 1.5828rem + 1.4609vw, 1.938rem);
  }
}
.home-intro-wrapper .container .left .intro-txt p {
  font-family: HelvNowDis-light;
  max-width: 96%;
  margin-bottom: 15px;
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .left .intro-txt p {
    max-width: 100%;
    line-height: 1.7em;
  }
}
.home-intro-wrapper .container .left .intro-txt p .txt-med {
  display: inline-block;
  border-bottom: 1px solid var(--dark_grey);
  line-height: 1.2em;
}
.home-intro-wrapper .container .left .intro-txt p:last-child {
  margin-bottom: 15px;
}
.home-intro-wrapper .container .right.anim-vid-wrapp {
  position: absolute;
  top: 137px;
  top: 380px;
  right: 50px;
  width: 800px;
}
@media (max-width: 1530px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp {
    top: 100px;
    top: 300px;
  }
}
@media (max-width: 950px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp {
    width: auto;
    top: 50px;
    top: 270px;
    right: 20px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp {
    display: none;
  }
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul {
  display: flex;
  justify-content: flex-end;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li {
  position: relative;
  width: 340px;
  height: 480px;
  margin-right: 0;
  box-shadow: -4px 9px 15.4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width: 1710px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    width: 300px;
    height: 440px;
  }
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 350px;
    width: 260px;
  }
}
@media (max-width: 1370px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 320px;
    width: 230px;
  }
}
@media (max-width: 1230px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 300px;
    width: 200px;
  }
}
@media (max-width: 1130px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 280px;
    width: 180px;
  }
}
@media (max-width: 1080px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 260px;
    width: 170px;
  }
}
@media (max-width: 1000px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 250px;
    width: 160px;
  }
}
@media (max-width: 950px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li {
    height: 190px;
    width: 140px;
  }
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li a {
  position: relative;
  width: 100%;
  height: 100%;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.7) 0.02%, rgba(102, 102, 102, 0) 100.06%);
  left: 0;
  top: 0;
  z-index: 9;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li a:hover .arrow-icon {
  background-color: var(--light_green);
  transition: all 0.5s ease-in-out;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li a:hover .arrow-icon svg path {
  stroke: var(--white);
  transition: all 0.5s ease-in-out;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li a:hover h4 {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
  position: absolute;
  opacity: 1;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  color: var(--white);
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  font-weight: 300;
  font-size: clamp(1.25rem, 0.5769rem + 0.7692vw, 1.5rem);
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
    width: 190px;
  }
}
@media (max-width: 1399px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
    font-size: clamp(0.938rem, 0.8825rem + 0.2773vw, 1.125rem);
  }
}
@media (max-width: 1190px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
    width: 160px;
  }
}
@media (max-width: 1080px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
    width: 150px;
  }
}
@media (max-width: 850px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 {
    width: 132px;
  }
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li h4 span {
  display: block;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li:first-child {
  transform: rotate(-7.49deg);
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li:last-child {
  margin-right: 0;
  transform: rotate(5.35deg);
  margin-top: 120px;
}
@media (max-width: 1530px) {
  .home-intro-wrapper .container .right.anim-vid-wrapp ul li:last-child {
    margin-top: 90px;
  }
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li .arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  filter: drop-shadow(-1px 2px 6px rgba(0, 0, 0, 0.1)) drop-shadow(-5px 9px 11px rgba(0, 0, 0, 0.09)) drop-shadow(-12px 21px 15px rgba(0, 0, 0, 0.05)) drop-shadow(-22px 37px 17px rgba(0, 0, 0, 0.01)) drop-shadow(-34px 58px 19px rgba(0, 0, 0, 0));
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  transition: 0.5s ease-in-out;
}
.home-intro-wrapper .container .right.anim-vid-wrapp ul li .arrow-icon svg {
  width: 90%;
}
.home-intro-wrapper .container .intro-vid-wrapp {
  padding-top: clamp(5rem, -0.7143rem + 8.9286vw, 10rem);
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .intro-vid-wrapp {
    padding-top: 40px;
  }
}
.home-intro-wrapper .container .intro-vid-wrapp ul {
  height: 480px;
  display: flex;
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul {
    height: 380px;
  }
}
@media (max-width: 1300px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul {
    height: 350px;
  }
}
@media (max-width: 1100px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul {
    height: 320px;
  }
}
@media (max-width: 767px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul {
    height: auto;
  }
}
@media (max-width: 600px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul {
    flex-direction: column;
  }
}
.home-intro-wrapper .container .intro-vid-wrapp ul li {
  position: relative;
  width: 50%;
  height: 480px;
  margin-right: clamp(3.125rem, -3.3036rem + 10.0446vw, 8.75rem);
  box-shadow: -4px 9px 15.4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1) rotate(0) !important;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 1500px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li {
    height: 380px;
  }
}
@media (max-width: 1300px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li {
    height: 350px;
  }
}
@media (max-width: 1100px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li {
    height: 320px;
  }
}
@media (max-width: 600px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li {
    height: 190px;
  }
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.7) 0.02%, rgba(102, 102, 102, 0) 100.06%);
  left: 0;
  top: 0;
  z-index: 9;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a h4 {
  position: absolute;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  color: var(--white);
  text-align: center;
  font-weight: 300;
}
@media (max-width: 600px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li a h4 {
    bottom: 40px;
  }
}
@media (max-width: 4000px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li a h4 {
    bottom: 30px;
  }
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a h4 span {
  display: block;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a .arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  filter: drop-shadow(-1px 2px 6px rgba(0, 0, 0, 0.1)) drop-shadow(-5px 9px 11px rgba(0, 0, 0, 0.09)) drop-shadow(-12px 21px 15px rgba(0, 0, 0, 0.05)) drop-shadow(-22px 37px 17px rgba(0, 0, 0, 0.01)) drop-shadow(-34px 58px 19px rgba(0, 0, 0, 0));
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  transition: all 0.4s ease-in-out;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li a .arrow-icon svg {
  width: 90%;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li:last-child {
  margin-right: 0;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li:hover a .arrow-icon {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
}
.home-intro-wrapper .container .intro-vid-wrapp ul li:hover a h4 {
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 768px) {
  .home-intro-wrapper .container .intro-vid-wrapp ul li.d-none {
    display: none;
  }
}

.home-choose-wrapper .container {
  max-width: 1490px;
}
@media (resolution: 1.25dppx) {
  .home-choose-wrapper .container {
    max-width: 1400px;
  }
}
@media (max-width: 1530px) {
  .home-choose-wrapper .container {
    max-width: 90%;
  }
}
.home-choose-wrapper .container h2:before {
  display: none;
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul {
    flex-direction: column;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li {
  width: 33.33%;
  text-align: center;
  border: 1px solid #FFF;
  background: #FFF;
  box-shadow: 0 4px 10.2px 0 rgba(0, 0, 0, 0.09);
  margin-right: clamp(2.5rem, -0.3571rem + 4.4643vw, 5rem);
  padding: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem) clamp(1.875rem, 0.4464rem + 2.2321vw, 3.125rem) clamp(2.813rem, 1.3136rem + 2.3429vw, 4.125rem);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
}
@media (max-width: 920px) {
  .home-choose-wrapper .container .home-why-choose-list ul li {
    margin-right: 20px;
  }
}
@media (max-width: 880px) {
  .home-choose-wrapper .container .home-why-choose-list ul li {
    padding: 0px 0px 40px;
  }
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li:last-child {
  margin-right: 0;
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon {
  width: 100%;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  margin-bottom: 0;
}
@media (max-width: 1080px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon {
    height: 120px;
  }
}
@media (max-width: 850px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon {
    height: 110px;
  }
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon {
    height: auto;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon .desk {
  display: none;
}
@media (min-width: 768px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon .desk {
    display: block;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon .mob {
  display: none;
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon .mob {
    display: block;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 1080px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-txt {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon-txt h3 {
  font-family: HelvNowDis-reg;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 805px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-txt h3 {
    height: 60px;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon-txt p {
  font-family: HelvNowDis-light;
  margin-bottom: 0;
  width: 90%;
  color: #767676;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1730px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-txt p {
    width: 85%;
  }
}
@media (max-width: 1080px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-txt p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-txt p {
    width: 70%;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li .icon-num {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  border-radius: 100%;
  background-color: #EEF6EF;
  text-align: center;
  color: var(--light_green);
  font-size: clamp(2.125rem, -0.0179rem + 3.3482vw, 4rem);
  font-family: HelvNowDis-Bold;
}
@media (max-width: 1500px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-num {
    bottom: -27px;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-num {
    bottom: -20px;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1023px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-num {
    font-size: clamp(2rem, 1.9612rem + 0.1592vw, 2.063rem);
  }
}
@media (max-width: 389px) {
  .home-choose-wrapper .container .home-why-choose-list ul li .icon-num {
    font-size: clamp(1.875rem, 1.5828rem + 1.4609vw, 1.938rem);
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li:before {
  content: "";
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li:before {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--light_green);
    border-radius: 4px 4px 0 0;
    top: -1px;
    left: 0;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(1) {
  position: relative;
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li:nth-child(1) .icon {
    width: auto;
    margin-left: 0;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(1) .icon .mob {
  text-align: left;
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(1):after {
  content: "";
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li:nth-child(1):after {
    background-image: url(../img/line1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    width: 21px;
    height: 50px;
    position: absolute;
  }
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(2) {
  position: relative;
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(2) .icon .mob {
  text-align: right;
}
.home-choose-wrapper .container .home-why-choose-list ul li:nth-child(2):after {
  content: "";
}
@media (max-width: 767px) {
  .home-choose-wrapper .container .home-why-choose-list ul li:nth-child(2):after {
    background-image: url(../img/connecting-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    right: -2px;
    width: 69px;
    height: 85px;
    position: absolute;
  }
}

.brand-wrapper {
  padding-top: clamp(5.625rem, -1.5179rem + 11.1607vw, 11.875rem);
}
@media (max-width: 767px) {
  .brand-wrapper {
    padding-top: 60px;
  }
}
.brand-wrapper .container {
  max-width: 1400px;
}
@media (resolution: 1.25dppx) {
  .brand-wrapper .container {
    max-width: 1300px;
  }
}
@media (max-width: 1500px) {
  .brand-wrapper .container {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .brand-wrapper .container {
    text-align: center;
  }
}
.brand-wrapper .container .brand-list {
  align-items: center;
  flex-wrap: wrap;
  -moz-column-count: 5;
       column-count: 5;
  gap: clamp(1.875rem, -2.125rem + 6.25vw, 5.375rem) clamp(4.375rem, -2.4821rem + 10.7143vw, 10.375rem);
}
@media (max-width: 767px) {
  .brand-wrapper .container .brand-list {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 0 30px;
  }
}
.brand-wrapper .container .brand-list li {
  height: 87px;
  width: 147px;
}
@media (max-width: 1580px) {
  .brand-wrapper .container .brand-list li {
    width: 160px;
    height: 70px;
  }
}
@media (resolution: 1.25dppx) {
  .brand-wrapper .container .brand-list li {
    width: 150px;
    height: 110px;
  }
}
@media (max-width: 1380px) {
  .brand-wrapper .container .brand-list li {
    width: 157px;
    height: 110px;
  }
}
@media (max-width: 1360px) {
  .brand-wrapper .container .brand-list li {
    width: 150px;
    height: 80px;
  }
}
@media (max-width: 1260px) {
  .brand-wrapper .container .brand-list li {
    width: auto;
    height: 110px;
  }
}
@media (max-width: 767px) {
  .brand-wrapper .container .brand-list li {
    height: auto;
    width: auto;
  }
}
.brand-wrapper .container .brand-list li a {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1500px) {
  .brand-wrapper .container .brand-list li a {
    min-height: 100px;
  }
}
@media (max-width: 767px) {
  .brand-wrapper .container .brand-list li a {
    min-height: 90px;
  }
}
.brand-wrapper .container .brand-list li a img {
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
@media (max-width: 1500px) {
  .brand-wrapper .container .brand-list li a img {
    width: 120px;
  }
}
@media (max-width: 767px) {
  .brand-wrapper .container .brand-list li a img {
    height: auto;
    width: 80px;
  }
}

.cta-wrapper {
  margin-top: 160px;
  background-color: #F8F8F8;
  padding: 97px 0 167px;
}
@media (max-width: 1500px) {
  .cta-wrapper {
    padding: 60px 0 70px;
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .cta-wrapper {
    padding: 40px 0;
    margin-top: 40px;
  }
}
.cta-wrapper .container {
  text-align: center;
}
.cta-wrapper .container .cta-title {
  font-family: HelvNowDis-medium;
  font-size: clamp(1.25rem, 0.1071rem + 1.7857vw, 2.25rem);
}
@media (max-width: 1023px) {
  .cta-wrapper .container .cta-title {
    font-size: clamp(1.188rem, 1.1598rem + 0.1411vw, 1.25rem);
  }
}
.cta-wrapper .container .cta-txt {
  font-family: HelvNowDis-Bold;
  font-size: clamp(3.125rem, 1.125rem + 3.125vw, 4.875rem);
  color: #121A21;
}
.cta-wrapper .container .cta-btn-wrapp {
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.cta-wrapper .container ul.lets-talk-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .cta-wrapper .container ul.lets-talk-wrap {
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}
.cta-wrapper .container ul.lets-talk-wrap li {
  margin: 0 10px;
}
@media (max-width: 767px) {
  .cta-wrapper .container ul.lets-talk-wrap li {
    margin: 0;
  }
}
.cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all {
  width: 207px;
  background: var(--light_green) !important;
  color: var(--white) !important;
  border: 1px solid var(--light_green) !important;
  padding-right: 20px;
}
.cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all:hover {
  background: var(--dark_green) !important;
}
.cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all:hover svg path {
  fill: var(--white) !important;
}
@media (max-width: 1500px) {
  .cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all {
    width: 180px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all {
    width: 140px;
  }
}
.cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all .circle {
  background-color: transparent;
}
.cta-wrapper .container ul.lets-talk-wrap li.whatsapp .view-all .circle svg {
  transform: rotate(0deg);
  width: 27px;
  height: 27px;
}
@media (max-width: 767px) {
  .cta-wrapper .container ul.lets-talk-wrap li.contact-us .view-all {
    width: 130px;
  }
}
.cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 1500px) {
  .cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1380px) {
  .cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all {
    width: 35px;
    height: 35px;
  }
}
.cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all svg {
  position: relative;
  z-index: 1;
}
.cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all svg path {
  transition: all 0.3s;
}
.cta-wrapper .container ul.lets-talk-wrap li.call-us .view-all:hover svg path {
  fill: var(--white);
}/*# sourceMappingURL=home.css.map */