:root {
  --white: #ffffff;
  --black: #000000;
  --light_green: #4e9c5a;
  --dark_grey: #121A21;
  --light_grey: #767676;
}
$white: var(--white);
$black: var(--black);
$light_green: var(--light_green);
$dark_grey: var(--dark_grey);
$light_grey: var(--light_grey);

.inside-page{
	// background: linear-gradient(254deg, #FFF 0.23%, #EAEAEA 10.42%, #FFF 22.24%, #FDFDFD 63.4%, #EAEAEA 73.18%, #FFF 83.78%), #FBFBFB;
	background: #fbfbfb url(../img/inside-page-bg-img.webp);
	// background-size: contain;
	// background-repeat: repeat;
	// background-position: top left;
	// width: 100%;
	// height: 100%;

	.container{
		max-width: 1620px;
		@media(max-width: 1700px){
			max-width: 90%;
		}
	}
	header{
		// position: relative;
		.company-logo{
			.logo-white{
				display: none;
			}
			.logo-black{
				display: block;
			}
		}
		.main-nav{
			> ul{
				> li{
					> a{
						color: var(--black) !important;
					}
					&:hover{
						> a{
							color: var(--light_green) !important;
						}
					}
					&.square-fill-btn-wrapp{
						> a{
							color: var(--white) !important;
						}
						&:hover{
							> a{
								color: var(--light_green) !important;
							}
						}
					}
				}
			}
		}
	}
	header.scrolled{
		position: fixed;
	}
	h1{
		font-family: HelvNowDis-medium;
		font-weight: 500;
		// 1024 - 1920 : 25 - 40
		// padding-bottom: clamp(1.563rem, 0.4921rem + 1.6732vw, 2.5rem);
		// 1024 - 1920 : 18 30
		padding-bottom: clamp(1.125rem, 0.2679rem + 1.3393vw, 1.875rem);
		// 1024 - 1920 : 20 - 35
		// margin-bottom: clamp(1.25rem, 0.1780rem + 1.6750vw, 2.188rem);
		// 1024 - 1920 : 25 - 42
		margin-bottom: clamp(1.563rem, 0.3493rem + 1.8964vw, 2.625rem);
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 60px;
			height: 1px;
			background-color: var(--black);
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	h2{
		text-align: center;
		font-family: HelvNowDis-medium;
		font-weight: 500;
		background: linear-gradient(0deg, #000 11.57%, #777676 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 25px;
		// 1024 - 1920 : 30 - 64
		// margin-bottom: clamp(1.875rem, -0.5536rem + 3.7946vw, 4rem);
	}
	.inside-sub-txt{
		width: 790px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.3em;
		color: #646464;
		font-family: HelvNowDis-reg;
		// 1024 - 1920 : 20 - 36
		font-size: clamp(1.25rem, 0.1071rem + 1.7857vw, 2.25rem);
		@media(max-width: 1590px){
			width: 700px;
		}
		@media (resolution: 1.25dppx){
			width: 600px;
		}
		@media(max-width: 1480px){
			width: 45%;
		}
		@media(max-width: 1180px){
			width: 40%;
		}
		@media(max-width: 1023px){
			// 320 - 1023 : 19 - 20
			font-size: clamp(1.188rem, 1.1598rem + 0.1411vw, 1.25rem);
			line-height: 1.3em;
		}
		@media(max-width: 1000px){
			width: 80%;
		}
		@media(max-width: 767px){
			width: 100%;
		}
	}
	h1,.inside-sub-txt{
		text-align: center;
	}
	.inside-intro-txt{
		p{
			text-align: center;
		}
	}

	// Inside Intro Section starts
	.inside-intro-wrapper{
		// 1024 - 1920 : 100 - 260
		padding-top: clamp(6.25rem, -5.1786rem + 17.8571vw, 16.25rem);
		@media (resolution: 1.25dppx) {
			// 1024 - 1500 : 190 - 230
      padding-top: clamp(11.875rem, 6.4968rem + 8.4034vw, 14.375rem);
    }
		@media(max-width: 1480px){
			padding-top: 16.25rem;
		}
		@media(max-width: 1180px){
			padding-top: 230px;
		}
		@media(max-width: 1000px){
			padding-top: 140px;
		}
		.container{
			@media(max-width: 1100px){
				max-width: 95%;
			}
			@media(max-width: 1000px){
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
			@media(max-width: 767px){
				max-width: 90%;
				max-width: 100%;
			}
			position: relative;
			.inside-intro-title{
				// 1024 - 1920 : 20 - 35
				margin-bottom: clamp(1.25rem, 0.1780rem + 1.6750vw, 2.188rem);
				@media(max-width: 1000px){
					width: 80%;
					order: 1;
					position: relative;
					padding-bottom: 80px;
				}
				@media(max-width: 767px){
					width: 100%;
					padding-left: 20px;
					padding-right: 20px;
				}
				@media(max-width: 390px){
					padding-bottom: 40px;
				}
				h1{
					background: linear-gradient(180deg, #C4C4C4 -71.43%, #3D3D3D 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-family: HelvNowDis-medium;
					letter-spacing: 0;
				}
				&:after{
					content: '';
					@media(max-width: 1000px){
						background-image: url(../img/inisde-page-angle1.png);
						background-repeat: repeat;
						background-size: cover;
						width: 100%;
						height: 80px;
						position: absolute;
						left: 0;
						bottom: 0;
					}
					@media(max-width: 390px){
						background-size: contain;
						height: 55px;
					}
				}
			}
			.inside-intro-txt{
				width: 780px;
				margin-left: auto;
				margin-right: auto;
				@media(max-width: 1590px){
					width: 700px;
				}
				@media (resolution: 1.25dppx){
					width: 600px;
				}
				@media(max-width: 1480px){
					width: 45%;
				}
				@media(max-width: 1180px){
					width: 40%;
				}
				@media(max-width: 1000px){
					width: 80%;
					order: 4;
				}
				p{
					color: #767676;
					font-size: clamp(0.938rem, 0.5814rem + 0.5571vw, 1.25rem);
					font-family: HelvNowDis-light;
					line-height: 1.75em;
				}
			}
			.inside-intro-count{
				position: absolute;
				@media(max-width: 1000px){
					position: relative;
					width: 50%;
				}
				ul{
					display: flex;
					flex-direction: column;
					li{
						padding: 15px 25px;
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.1);
						// background: rgba(255, 255, 255, 0.1); /* transparency */
						backdrop-filter: blur(3px); /* main blur effect */
						-webkit-backdrop-filter: blur(3px); /* Safari support */
						border-radius: 12px;
						border: 1px solid rgba(255, 255, 255, 0.2);
						box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
						@media(max-width: 1660px){
							padding: 20px;
						}
						@media(max-width: 1000px){
							background: transparent;
							backdrop-filter: blur(0);
							box-shadow: none;	
							border: none;	
							border-radius: 0;
							width: 100%;
							margin-bottom: 15px;
						}
						p{
							text-align: left;
							font-family: HelvNowDis-reg;
							color: var(--white);
							line-height: 1.3em;
						}
						.count{
							// 1024 - 1920 : 50 - 75
							font-size: clamp(3.125rem, 1.3387rem + 2.7911vw, 4.688rem);
							color: var(--light_green);
							line-height: 1em;
							// text-align: center;
							margin-bottom: 10px;
						}
						.count-txt{
							color: #767676;
							// text-align: center;
							font-family: HelvNowDis-light;
							// width: 90%;
						}
						&.bg-white{
							width: 202px;
							height: 180px;
							@media(max-width: 1660px){
								width: 200px;
								height: 160px;
							}
							@media(max-width: 1480px){
								width: 190px;
								height: 140px;
							}
							@media(max-width: 1100px){
								width: 175px;
        				height: 130px;
							}
							@media(max-width: 1000px){
								width: 100%;
								height: 100%;
							}
							
						}
						&.bg-green{
							box-shadow: 0 4px 25.8px 0 rgba(0, 0, 0, 0.27);
							background-color: var(--light_green);
							padding: 30px 30px;
							border-radius: 4px;
							width: 260px;
							box-sizing: border-box;
							@media(max-width: 1660px){
								padding: 25px;
								width: 240px;
							}
							@media(max-width: 1260px){
								width: 220px;
							}
							@media(max-width: 1100px){
								width: 210px;
							}
							@media(max-width: 1000px){
								background-color: transparent;
								box-shadow: none;	
								border-radius: 0;
								width: 100%;
							}
							p{
								color: var(--white);
								@media(max-width: 1000px){
									color: #767676;
								}
							}
							.count{
								color: var(--white);
								@media(max-width: 1000px){
									color: var(--light_green);
								}
							}
						}
					}
				}
				&.left{
					left: 0;
					top: 95px;
					@media(max-width: 1000px){
						top: 0;
						order: 2;
					}
					.bg-green{
						margin-left: 60px;
						@media(max-width: 1000px){
							margin-left: 0;
						}
					}
					ul{
						li{
							position: relative;
							&:after{
								content: '';
								@media(max-width: 1000px){
									width: 1px;
									height: 80%;
									background-color: #D2E6D5;
									right: 0;
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
								}
							}
							&:nth-child(2){
								position: relative;
								top: -20px;
								left: 0;
							}
						}
					}
				}
				&.right{
					right: 0;
					top: -65px;
					@media(max-width: 1000px){
						top: 0;
						order: 3;
					}
					ul{
						align-items: flex-end;
						@media(max-width: 1000px){
							flex-direction: column-reverse;
							align-items: flex-start;
						}
					}
					.bg-green{
						left: -80px;
						position: relative;
						top: -20px;
						z-index: 1;
						width: 230px;
						@media(max-width: 1480px){
							width: 200px;
						}
						@media(max-width: 1260px){
							width: 180px;
						}
						@media(max-width: 1100px){
							width: 170px;
						}
						@media(max-width: 1000px){
							top: 0;
							left: 0;
							width: 100%;
						}
						p{
							text-align: center;
							@media(max-width: 1000px){
								text-align: left;
							}
						}
						.count-txt{
							text-align: center;
							@media(max-width: 1000px){
								text-align: left;
							}
						}
					}
					.bg-white{
						position: relative;
						right: 0;
						z-index: 2;
						text-align: right;
						@media(max-width: 1000px){
							text-align: left;
						}
						.count{
							text-align: right;
							@media(max-width: 1000px){
								text-align: left;
							}
						}
						.count-txt{
							text-align: right;
							@media(max-width: 1000px){
								text-align: left;
							}
						}
					}
				}
			}
		}
		.scroll-down-arrow{
			margin-left: auto;
			margin-right: auto;
			// 1024 - 1920 : 50 - 120
			// margin-top: clamp(3.125rem, -1.8750rem + 7.8125vw, 7.5rem);
			// 1024 - 1920 : 50 128
			margin-top: clamp(3.125rem, -2.4464rem + 8.7054vw, 8rem);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 30px;
			border: 2px solid #4E9C5A;
			background: #FBFBFB;
			width: 53px;
			height: 76px;
			@media(resolution: 1.25dppx){
				width: 45px;
				height: 65px;
			}
			svg{
				width: 24px;
				height: 24px;
				margin-top: 9px;
				@media(resolution: 1.25dppx){
					width: 22px;
					height: 22px;
				}
			}
		}
	}
	// Inside Intro Section ends

	// tab section starts
	.tab-system-wrapper{
		// 1024 - 1920 : 50 - 100
		// padding-top: clamp(3.125rem, -0.4464rem + 5.5804vw, 6.25rem);
		// 1024 - 1920 : 50 - 105
		padding-top: clamp(3.125rem, -0.8041rem + 6.1393vw, 6.563rem);
		padding-bottom: 40px;
		.container{
			max-width: 100%;
			.tab-system{
				.tab-buttons{
					display: flex;
					align-items: center;
					justify-content: center;
					// 1024 - 1920 : 20 - 40
					// margin-bottom: clamp(1.25rem, -0.1786rem + 2.2321vw, 2.5rem);
					margin-bottom: 10px;
					h3{
						cursor: pointer;
						position: relative;
						color: #9D9C9C;
						// 1024 - 1920 : 5px - 25px;
						padding: 5px clamp(0.938rem, 0.2237rem + 1.1161vw, 1.563rem);
						font-family: HelvNowDis-reg;
						font-weight: 400;
						&:after{
							content: '';
							position: absolute;
							width: 4px;
							height: 65px;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							background-color: #9D9C9C;
							border-radius: 10px;
						}
						&.active{
							font-family: HelvNowDis-medium;
							font-weight: 500;
							color: #3C3C3C;
							font-size: clamp(1.563rem, -0.0793rem + 2.5661vw, 3rem);
							@media(max-width: 1023px){
								// 390 - 1023 : 24 - 25
								font-size: clamp(1.5rem, 1.4612rem + 0.1592vw, 1.563rem);
							}
							@media(max-width: 389px){
								// 320 - 389 : 22 - 24
								font-size: clamp(1.375rem, 0.7953rem + 2.8986vw, 1.5rem);
							}
							&:after{
								background-color: #3C3C3C;
							}
						}
						&:last-child{
							&:after{
								display: none;
							}
						}
						&:hover{
							color: #3C3C3C;
						}
					}
				}
				.tab-content{
					.tab-pane{
						margin-left: auto;
						margin-right: auto;
						// max-width: 1490px;
						// @media(max-width: 1600px){
						// 	max-width: 75%;
						// }
						.web-swiper-container{
							display: flex;
							flex-direction: column;
							position: relative;
							
							.swiper{
								order: 2;
								width: 100%;
								// background: #FFF;
								// box-shadow: 0 4px 49.8px 0 rgba(0, 0, 0, 0.07);
								.swiper-wrapper{
									box-sizing: border-box;
									align-items: center;
									.swiper-slide{
										transform: scale(1);
										transition: all 0.5s ease-in-out;
										width: 14% !important;
										display: flex;
										z-index: 0;
										justify-content: center;
										.swiper-slide-content{
											display: flex;
											align-items: center;
											justify-content: space-between;
											// background: #FFF;
											// box-shadow: 0 4px 49.8px 0 rgba(0, 0, 0, 0.07);
											gap: 50px;
											.slide-image{
												width: 100%;
												img{
													width: 100%;
													height: 100%;
													object-fit: cover;
													object-position: top left;
												}
											}
											.slide-text{
												display: none;
												opacity: 0;
												visibility: hidden;
												transition: opacity 0.5s ease-in-out;
												text-align: left;
												width: 50%;
												// 1024 - 1920 : 40 30 40 60 - 100 55 75 125
												padding: clamp(2.5rem, -1.7857rem + 6.6964vw, 6.25rem) clamp(1.875rem, 0.0887rem + 2.7911vw, 3.438rem) clamp(2.5rem, -0.0006rem + 3.9071vw, 4.688rem) clamp(3.75rem, -0.8934rem + 7.2554vw, 7.813rem);
												h4,p{
													text-align: left;
												}
												h4{
													font-family: HelvNowDis-medium;
													background: linear-gradient(90deg, #6A6A6A 0.3%, #252525 51.74%);
													background-clip: text;
													-webkit-background-clip: text;
													-webkit-text-fill-color: transparent;
													font-weight: 500;
													margin-bottom: 30px;
													// 1024 - 1920 : 20 - 36
													font-size: clamp(1.25rem, 0.1071rem + 1.7857vw, 2.25rem);
													@media(max-width: 1023px){
														// 320 - 1023 : 19 - 20
														font-size: clamp(1.188rem, 1.1598rem + 0.1411vw, 1.25rem);
														line-height: 1.3em;
													}
												}
												p{
													font-family: HelvNowDis-light;
													font-weight: 300;
												}
											}
										}
										&.swiper-slide-prev{
											right: -5px;
										}
										&.swiper-slide-active{
											height: 440px;
											background: #FFF;
											box-shadow: 0 4px 49.8px 0 rgba(0, 0, 0, 0.07);
											width: 72% !important;
											transform: scale(1.08);
											z-index: 2;
											transition: all 0.5s ease-in-out;
											@media(max-width: 1500px){
												height: 390px;
											}
											.swiper-slide-content{
												flex-direction: row-reverse;
												height: 100%;
												.slide-image{
													width: 40%;
													height: 100%;
												}
												.slide-text{
													height: 100%;
													display: block;
													opacity: 1;
													visibility: visible;
													transition: opacity 0.5s ease-in-out;
												}
											}
										}
									}
								}
							}
							.swiper-button-next,.swiper-button-prev{
								width: 33px;
								height: 30px;
								background-color: transparent;
								box-shadow: none;
								svg{
									path{
										fill: #4E9C5A;
									}
								}
							}
							.swiper-button-prev{
								// left: 60px;
								left: 13.7%;
								top: 56%;
							}
							.swiper-button-next{
								left: 52%;
								right: auto;
								top: 56%;
							}
							.swiper-pagination-dots{
								display: flex;
								justify-content: center;
								order: 3;
								gap: 10px;
								margin: 0;
								position: absolute;
								bottom: 80px;
								// left: clamp(5rem, 0.2857rem + 7.3661vw, 9.125rem);
								left: 350px;
								top: auto;
								z-index: 9;
								.dot{
									border: none;
									width: 10px;
									height: 10px;
									background-color: #D9D9D9;
									border-radius: 100%;
									&.active{
										background-color: var(--light_green);
									}
									&:last-child{
										margin-right: 0;
									}
								}
							}
							.swiper-pagination-text{
								margin-bottom: 22px;
								order: 1;
								display: flex;
								justify-content: center;
								align-items: center;
								.slide-title{
									color: #9D9C9C;
									font-family: HelvNowDis-light;
									font-weight: 300;
									position: relative;
									padding: 2px 8px;
									cursor: pointer;
									&:after{
										content: '';
										position: absolute;
										width: 1px;
										height: 70%;
										right: 0;
										top: 50%;
										transform: translateY(-50%);
										background-color: #9D9C9C;
									}
									&.active{
										font-family: HelvNowDis-reg;
										font-weight: 400;
										color: #323232;
										&:after{
											background-color: #323232;
										}
									}
									&:last-child{
										&:after{
											display: none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// tab section ends

	// Inside choose Section starts
	.inside-choose-wrapper{
		.container{
			max-width: 1400px;
			@media(max-width: 1480px){
				max-width: 90%;
			}
			.home-why-choose-list{
				ul{
					li{
						width: 30%;
						padding: 0;
						.icon{
							overflow: hidden;
							width: auto;
							height: auto;
							// 1024 - 1920 : 20 - 40
							padding-top: clamp(1.25rem, -0.1786rem + 2.2321vw, 2.5rem);
						}
						.icon-txt{
							// 1024 - 1920 : 5 25 40 - 5 45 100
							padding: 5px clamp(1.563rem, 0.1344rem + 2.2321vw, 2.813rem) clamp(2.5rem, -1.7857rem + 6.6964vw, 6.25rem);
							@media(max-width: 880px){
								padding: 20px 20px 40px;
							}
							h3{
								letter-spacing: -4%;
							}
						}
					}
				}
			}
		}
	}
	// Inside choose Section ends

	// Engagement Model Section Starts
	.engagement-model-wrapp{
		// 1024 - 1920 : 70 - 185
		padding-top: clamp(4.375rem, -3.8399rem + 12.8357vw, 11.563rem);
		.container{
			// max-width: 1630px;
			@media(max-width: 1520px){
				// max-width: 90%;
			}
			h2{
				// 1024 - 1920 : 30 - 60
				margin-bottom: clamp(1.875rem, -0.2679rem + 3.3482vw, 3.75rem);
			}
			.eng-model-step{
				ul{
					display: flex;
					gap: 15px;
					@media(max-width: 1500px){
						gap: 10px;
					}
					li{
						width: 20%;
						text-align: center;
						position: relative;
						border-radius: 4px;
						background: #FFF;
						box-shadow: 0 4px 19.4px 0 rgba(0, 0, 0, 0.05);
						// 1024 - 1920 : 15 5 15 - 40 5 40
						padding: clamp(0.938rem, -0.8471rem + 2.7893vw, 2.5rem) 5px clamp(0.938rem, -0.8471rem + 2.7893vw, 2.5rem);
						&:before{
							content: '';
							position: absolute;
							border-radius: 4px 4px 0 0;
							background: #4E9C5A;
							width: 100%;
							height: 8px;
							top: -1px;
							left: 0;
						}
						.eng-icon,h5{
							margin-bottom: 20px;
							@media(max-width: 1500px){
								margin-bottom: 15px;
							}
						}
						h5{
							font-weight: 500;
							font-family: HelvNowDis-medium;
							color: var(--light_green);
						}
						p{
							color: #767676;
							line-height: 1.5em;
							font-family: HelvNowDis-light;
							width: 90%;
							margin-left: auto;
							margin-right: auto;
						}
						.step-count{
							width: 60px;
							height: 60px;
							background-color: var(--light_green);
							border-radius: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							font-family: HelvNowDis-Bold;
							// 1024 - 1920 : 20 - 30
							font-size: clamp(1.25rem, 0.5357rem + 1.1161vw, 1.875rem);
							color: var(--white);
							position: absolute;
							top: -30px;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
	// Engagement Model Section Ends

	// Work Reference Section Starts
	.work-ref-wrapper{
		h2{
			margin-bottom: 0;
		}
		.workSwiper{
			.swiper-slide{
				position: relative;
				border-radius: 4px;
				background-blend-mode: normal, hue, normal;
				box-shadow: 5px 8px 9.2px 0 rgba(0, 0, 0, 0.09);
				height: 620px;
				// background: linear-gradient(160deg, rgba(0, 0, 0, 0.68) 5.88%, rgba(0, 0, 0, 0.00) 90.87%), linear-gradient(0deg, #000 0%, #000 100%), url(<path-to-image>) lightgray -398.647px 0.178px / 201.569% 100% no-repeat;
				// background-blend-mode: normal, hue, normal;
				// box-shadow: 5px 8px 9.2px 0 rgba(0, 0, 0, 0.09);
				@media(resolution: 1.25dppx){
					height: 560px;
				}
				a{
					width: 100%;
					height: 100%;
					position: relative;
				}
				.work-wrapp{
					width: 100%;
					height: 100%;
					.client-icon,.arrow-icon{
						position: absolute;
						z-index: 9;
						top: 40px;
					}
					.client-icon{
						left: 40px;
					}
					.arrow-icon{
						right: 20px;
						background-color: var(--white);
						border-radius: 100%;
						transform: rotate(0deg);
						transition: transform 0.6s ease-in-out;
					}
					.proj-img{
						width: 100%;
						height: 100%;
						filter: grayscale(1);
						transition: all 0.5s ease-in-out;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: top center;
						}
					}
					.proj-txt{
						opacity: 0;
						visibility: hidden;
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 100%;
						// 1024 - 1920 : 40 - 60
						padding: clamp(2.5rem, 1.0714rem + 2.2321vw, 3.75rem);
						text-align: center;
						transition: all 0.5s ease-in-out;
						@media(max-width: 1023px){
							padding: 20px;
						}
						p{
							font-family: HelvNowDis-light;
							color: var(--white);
							line-height: 1.3em;
							letter-spacing: 0.02em;
							// 1024 - 1920 : 20 - 40
							font-size: clamp(1rem, 0.7143rem + 0.4464vw, 1.25rem);
							@media(max-width: 1023px){
								// 375 - 1023 : 20 - 35
								font-size: clamp(1.25rem, 0.7072rem + 2.3160vw, 2.188rem);
							}
						}
					}
				}
				&:before{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					// background: linear-gradient(160deg, rgba(0, 0, 0, 0.68) 5.88%, rgba(0, 0, 0, 0.00) 90.87%), linear-gradient(0deg, #000 0%, #000 100%);
					z-index: 0;
				}
				&:hover{
					.arrow-icon{
						transform: rotate(360deg);
						transition: transform 0.6s ease-in-out;
					}
					.proj-img{
						filter: grayscale(0);
						transition: all 0.5s ease-in-out;
					}
					.proj-txt{
						opacity: 1;
						visibility: visible;
						transition: all 0.5s ease-in-out;
					}
				}
			}
		}
	}
	// Work Reference Section Ends

	// Brand section starts
	.brand-wrapper{
		// 1024 - 1920 : 60 140
		margin-top: clamp(3.75rem, -1.9643rem + 8.9286vw, 8.75rem);
		padding-top: 0;
		.container{
			max-width: 1725px;
			border-radius: 4px 4px 0 0;
			background: #FFF;
			box-shadow: 0 2px 21.7px 0 rgba(0, 0, 0, 0.00);
			// 1024 - 1920 : 40 30 0 - 89 50 0
			// padding: clamp(2.5rem, -1.0006rem + 5.4696vw, 5.563rem) clamp(1.875rem, 0.4464rem + 2.2321vw, 3.125rem) 0;
			// 1024 - 1920 : 40 50 0 - 89 160 0
			padding: clamp(2.5rem, -1.0006rem + 5.4696vw, 5.563rem) clamp(3.125rem, -4.7321rem + 12.2768vw, 10rem) 0;
		}
	}
	// Brand section ends

	// Technology Section starts
	.technology-wrapper{
		padding-top: 0;
		.container{
			border-radius: 0px 0px 4px 4px;
			background: #FFF;
			// 1024 - 1920 : 100 30 40 - 220 50 89
			padding: clamp(6.25rem, -2.3214rem + 13.3929vw, 13.75rem) clamp(1.875rem, 0.4464rem + 2.2321vw, 3.125rem) clamp(2.5rem, -1.0006rem + 5.4696vw, 5.563rem);
		}
	}
	// Technology Section Ends

	// cta section starts
	.cta-wrapper{
		margin-top: 0;
		.container{
			.cta-title{
				// 1024 - 1920 : 25 - 48
				font-size: clamp(1.563rem, -0.0793rem + 2.5661vw, 3rem);
				font-family: HelvNowDis-medium;
				background: linear-gradient(0deg, #313131 37.7%, #525252 79.71%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			.cta-txt{
				font-family: HelvNowDis-light;
				color: #5E5E5E;
				// 1024 - 1920 : 20 - 36
				font-size: clamp(1.25rem, 0.1071rem + 1.7857vw, 2.25rem);
				@media(max-width: 1023px){
					// 320 - 1023 : 19 - 20
					font-size: clamp(1.188rem, 1.1598rem + 0.1411vw, 1.25rem);
					line-height: 1.3em;
				}
			}
			.cta-btn-wrapp{
				// 1024 - 1920 : 30 - 60
				// margin-top: clamp(1.875rem, -0.2679rem + 3.3482vw, 3.75rem);
				// 1024 - 1920 : 20 - 35
				margin-top: clamp(1.25rem, 0.1780rem + 1.6750vw, 2.188rem);
			}
		}
	}
	// cta section ends
}

