:root {
  --white: #ffffff;
  --black: #000000;
  --light_green: #4e9c5a;
  --dark_grey: #121A21;
  --light_grey: #767676;
}
$white: var(--white);
$black: var(--black);
$light_green: var(--light_green);
$dark_grey: var(--dark_grey);
$light_grey: var(--light_grey);

@font-face {
	font-family: "Untitled";
	src: url("../font/Untitled.woff2") format("woff2"),
			url("../font/Untitled.ttf") format("truetype"),
			url("../font/Untitled.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-palette-values --palette0 {
	font-family: "Untitled";
	base-palette: 0
}

.icon-insurance:before {
  content: "\f006";
  font-family: "Untitled";
}
.icon-fmcg:before{
  content: "\f007";
  font-family: "Untitled";
}
.icon-automative:before{
  content: "\f00b";
  font-family: "Untitled";
}
.icon-Logistics:before{
font-family: "Untitled";
content: "\f004";
}
.icon-Facility-Management:before{
font-family: "Untitled";
content: "\f008";
}
.icon-Brokerage:before{
font-family: "Untitled";
content: "\f00a";
}
.icon-Operations:before{
font-family: "Untitled";
content: "\f003";
}
.icon-Accounting:before{
font-family: "Untitled";
content: "\f00c";
}
.icon-Reporting:before{
font-family: "Untitled";
content: "\f002";
}
.icon-Legacy-Integration:before{
font-family: "Untitled";
content: "\f005";
}
.icon-crm:before{
font-family: "Untitled";
content: "\f009";  
}

.zoho-product{
	&:after{
		background-image: url(../img/zoho-bg-img.svg);
		top: 100px;
		@media(max-width: 1500px){
			top: 100px;
			height: 80%;
		}
		@media(max-width: 1080px){
			top: 190px;
			height: 80%;
		}
		@media(max-width: 767px){
			top: 550px;
			height: 80%;
		}
	}

	// zoho intro section starts
	.inside-child-intro-wrapper{
		// 1024 - 1920 : 100 - 190
		padding-bottom: clamp(6.25rem, -0.1786rem + 10.0446vw, 11.875rem);
		@media(max-width: 1080px){
			padding-bottom: 20px;
		}
		@media(max-width: 767px){
			padding-bottom: 10px;
		}
		.container{
			.product-head-wrapper{
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				@media(max-width: 767px){
					flex-direction: column;
					padding-top: 30px;
				}
				.left{
					width: 50%;
					@media(max-width: 767px){
						width: 100%;
						margin-bottom: 30px;
					}
					.zoho-left-top-wrapp{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						// 1024 - 1920 : 25 - 50
						margin-bottom: clamp(1.563rem, -0.2221rem + 2.7893vw, 3.125rem);
						.zoho-logo{
							width: 260px;
							margin-right: 35px;
							@media(max-width: 1500px){
								width: 230px;
								margin-right: 25px;
							}
							@media(max-width: 1380px){
								width: 200px;
								margin-right: 20px;
							}
							@media(max-width: 767px){
								width: 150px;
								margin-right: 15px;
							}
							@media(max-width: 450px){
								width: 140px;
								margin-right: 12px;
							}
							@media(max-width: 350px){
								width: 130px;
								margin-right: 12px;
							}
							@media(max-width: 345px){
								width: 110px;
							}
						}
						.partner-tag{
							border-radius: 50px;
							border: 1px solid var(--light_green);
							background: #6DD17C;
							padding: 18px 25px;
							display: inline-flex;
							align-items: center;
							// 1024 - 1920 : 20 - 38
							// margin-bottom: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem);
							@media(max-width: 1500px){
								padding: 13px 25px;
							}
							@media(max-width: 1080px){
								padding: 10px 20px;
							}
							@media(max-width: 767px){
								padding: 10px 15px;
							}
							@media(max-width: 600px){
								padding: 7px 11px;
							}
							img{
								width: 25px;
								height: 25px;
								margin-right: 15px;
								@media(max-width: 1500px){
									width: 23px;
									height: 23px;
								}
								@media(max-width: 767px){
									width: 20px;
									height: 20px;
									margin-right: 10px;
								}
								@media(max-width: 600px){
									width: 16px;
									height: 16px;
									margin-right: 5px;
								}
							}
							p{
								color: var(--white);
								line-height: 1.2em;
								// 1024 - 1920 : 20 - 36
								// font-size: clamp(1.25rem, 0.1071rem + 1.7857vw, 2.25rem);
								font-size: 20px;
								@media(max-width: 1500px){
									font-size: 17px;
								}
								@media(max-width: 1380px){
									// font-size: 16px;
								}
								@media(max-width: 1080px){
									// 320 - 1023 : 19 - 20
									// font-size: clamp(1.188rem, 1.1598rem + 0.1411vw, 1.25rem);
									font-size: 16px;
									line-height: 1.3em;
								}
								@media(max-width: 767px){
									font-size: 15px;
								}
								@media(max-width: 600px){
									font-size: 14px;
								}
								@media(max-width: 345px){
									font-size: 13px;
								}
							}
						}
					}
					h1{
						background: linear-gradient(180deg, #C4C4C4 -71.43%, #3D3D3D 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						text-align: left;
						font-family: HelvNowDis-medium;
						font-weight: 500;
						line-height: 1.13em;
						// 1024 - 1920 : 25 - 42
						padding-bottom: clamp(1.563rem, 0.3493rem + 1.8964vw, 2.625rem);
						// 1024 - 1920 : 20 - 38
						margin-bottom: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem);
						span{
							display: block;
						}
						&:before{
							left: 0;
							transform: translateX(0);
							height: 3px;
							background-color: var(--light_green);
							width: 100px;
							@media(max-width: 1500px){
								width: 85px;
							}
						}
					}
					.sub-txt{
						color: #3D3D3D;
						font-family: HelvNowDis-light;
						font-weight: 300;
						line-height: 1.45em;
						// 1024 - 1920 : 19 - 32
						font-size: clamp(1.188rem, 0.26rem + 1.45vw, 2rem);
						@media(max-width: 1023px){
							// 320 - 1023 : 17 - 18
							font-size: clamp(1.063rem, 1.0348rem + 0.1411vw, 1.125rem);
						}
						@media(max-width: 767px){
							// 340 - 767 : 18 - 22
							font-size: clamp(1.125rem, 0.9259rem + 0.9368vw, 1.375rem);
						}
						br{
							display: none;
						}
					}
					.zoho-interlinks{
						// 1024 - 1920 : 20 - 38
						margin-top: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem);
						ul{
							display: flex;
							align-items: stretch;
							justify-content: flex-start;
							flex-wrap: wrap;
							li{
								a{
									color: var(--light_green);
									padding: 3px 18px 3px 0;
									margin-right: 18px;
									position: relative;
									cursor: pointer;
									margin-bottom: 15px;
									font-family: HelvNowDis-light;
                	font-weight: 300;
									transition: all 0.3s ease-in-out;
									@media(max-width: 1380px){
										margin-bottom: 12px;
									}
									@media(max-width: 1080px){
										padding-right: 15px;
										margin-right: 15px;
										margin-bottom: 12px;
									}
									@media(max-width: 767px){
										padding-right: 10px;
										margin-right: 10px;
										margin-bottom: 8px;
									}
									&:after{
										content: '';
										position: absolute;
										width: 1px;
										height: 100%;
										background-color: var(--light_green);
										right: 0;
										top: 50%;
										transform: translateY(-50%);
									}
									&:hover{
										color: #3D3D3D;
										transition: all 0.3s ease-in-out;
										&:after{
											background-color: #3D3D3D;
											transition: all 0.3s ease-in-out;
										}
									}
								}
								&:first-child{
									a{
										padding-left: 0;
									}
								}
								&:last-child{
									a{
										margin-right: 0;
										&:after{
											display: none;
										}
									}
								}
							}
						}
					}
				}
				.right{
					width: 45%;
					border-radius: 4px;
					background: #FFF;
					box-shadow: 7px 12px 25.2px 0 rgba(0, 0, 0, 0.11);
					// 1024 - 1920 : 26 53 - 50 100
					padding: clamp(1.625rem, -0.0893rem + 2.6786vw, 3.125rem) clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
					@media(max-width: 1500px){
						padding: clamp(1.625rem, -0.0893rem + 3.6786vw, 3.125rem) clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
					}
					@media(max-width: 1365px){
						padding: 40px;
					}
					@media(max-width: 1080px){
						padding: 30px;
					}
					@media(max-width: 767px){
						padding: 30px 20px;
						width: 100%;
					}
					.form-wrap{
						form{
							.form-wrapper{
								ul{
									display: flex;
									flex-wrap: wrap;
									justify-content: space-between;
									gap: 0 20px;
									li{
										margin-bottom: 25px;
										width: 31%;
										@media(max-width: 1247px){
											width: 30%;
										}
										@media(max-width: 870px){
											width: 47%;
										}
										@media(max-width: 767px){
											width: 100%;
											margin-bottom: 20px;
										}
										&.w-100{
											width: 100%;
											margin-right: 0;
										}
										&.w-50{
											width: 47%;
											@media(max-width: 1109px){
												width: 47%;
											}
											@media(max-width: 767px){
												width: 100%;
											}
										}
										&:last-child{
											margin-bottom: 0;
										}
										label{
											color: #7A7A7A;
											font-family: HelvNowDis-light;
											font-weight: 300;
											// 320 - 1920 : 14 - 22
                			font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
											@media(max-width: 1500px){
												font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
											}
											@media(max-width: 767px){
												// 340 - 767 : 17 - 20
												font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
												font-size: 15px;
											}
										}
										input,textarea{
											border: none;
											padding: 20px 0 15px;
											border-bottom: 1px solid #7A7A7A;
											box-sizing: border-box;
											width: 100%;
											// 320 - 1920 : 14 - 22
                			font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
											@media(max-width: 1500px){
												font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
												padding: 15px 0 12px;
											}
											@media(max-width: 767px){
												padding: 10px 0;
											}
											@media(max-width: 767px){
												// 340 - 767 : 17 - 20
												font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
												font-size: 15px;
											}
											color: var(--dark_grey);
											&:focus,&:focus-visible{
												outline: none;
											}
											&::placeholder{
												color: #7A7A7A;
												font-family: HelvNowDis-light;
												// 320 - 1920 : 14 - 22
                				font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
												@media(max-width: 1500px){
													font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
												}
												@media(max-width: 767px){
													// 340 - 767 : 17 - 20
													font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
													font-size: 15px;
												}
											}
										}
										textarea{
											height: 100px;
											@media(max-width: 767px){
												height: 80px;
											}
										}
										.submit-button-wrap{
											display: flex;
    									justify-content: flex-end;
											// 1024 - 1920 : 16 - 30
											margin-top: clamp(1rem, 0.0000rem + 1.5625vw, 1.875rem);
											@media(max-width: 767px){
												justify-content: center;
											}
											.btn-wrap{
												position: relative;
												.view-all{
													padding: 15px 25px;
													width: auto;
													border-radius: 50px;
													border: 1px solid #ABABAB;
													background: #F0EFEF;
													input{
														background: transparent;
														border: none;
														border-radius: 0;
														color: transparent;
														width: 100%;
														height: 100%;
														position: absolute;
														background: transparent;
														border: none;
														z-index: 10;
														color: transparent;
														left: 0;
														cursor: pointer;
													}
													.text{
														color: #7A7A7A;
														font-family: HelvNowDis-light;
														font-weight: 300;
														text-transform: initial;
														// 1024 - 1920 : 17 - 28
														font-size: clamp(1.063rem, 0.2779rem + 1.2268vw, 1.75rem);
														@media(max-width: 1500px){
															font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
														}
													}
													.wpcf7-spinner{
														position: absolute;
														right: 0;
														top: 50%;
														transform: translateY(-50%);
													}
													&:hover{
														.text{
															color: var(--white);
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// zoho intro section ends

	// highlight section starts
	.intro-highlight-wrapper{
		.container{
			.right{
				p{
					@media(max-width: 1080px){
						line-height: 1.5em;
					}
					@media(max-width: 767px){
						// 340 - 767 : 17 - 20
						font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
					}
				}
			}
		}
	}
	// highlight section ends

	// strategic choice section starts
	.strategic-choice-wrapper{
		.container{
			h2{
				padding-bottom: 0;
				// 1024 - 1920 : 40 - 80
				margin-bottom: clamp(2.5rem, -0.3571rem + 4.4643vw, 5rem);
			}
			ul{
				li{
					.left{
						@media(max-width: 767px){
							position: relative;
        			top: 0px;
						}
					}
					.right{
						&:before{
							@media(max-width: 1080px){
								top: 6px;
							}
							@media(max-width: 767px){
								width: 10px;
								height: 10px;
								top: 65px;
							}
						}
						&:after{
							@media(max-width: 767px){
								top: 85px;
								height: 70%;
							}
						}
						.line-fill{
							@media(max-width: 767px){
								top: 85px;
								height: 70%;
							}
						}
						.title{
							@media(max-width: 767px){
								// 340 - 767 : 17 - 20
								font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem) !important;
							}
						}
						p{
							@media(max-width: 767px){
								// 340 - 767 : 15 - 18
								font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
								line-height: 1.7em;
							}
						}
					}
				}
			}
		}
	}
	// strategic choice section ends

	// zoho crm section starts
	.zoho-crm-wrapper{
		position: relative;
		z-index: 9;
		.container{
			.crm-list{
				display: flex;
				flex-wrap: wrap;
				gap: 8px 4px;
				li{
					width: 49.7%;
					border-radius: 4px;
					border: 1px solid rgba(230, 230, 230, 0.00);
					background: #FFF;
					box-shadow: 0 331px 93px 0 rgba(0, 0, 0, 0.00), 0 212px 85px 0 rgba(0, 0, 0, 0.00), 0 119px 71px 0 rgba(0, 0, 0, 0.01), 0 53px 53px 0 rgba(0, 0, 0, 0.02), 0 13px 29px 0 rgba(0, 0, 0, 0.02);
					position: relative;
					z-index: 1;
					// 1024 - 1920 : 21 - 40
					padding: clamp(1.313rem, -0.0436rem + 2.1196vw, 2.5rem);
					@media(max-width: 767px){
						width: 100%;
						padding: 20px;
					}
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: -5px;
						background-size: contain;
						width: 100%;
						height: 100%;
						opacity: 0.27;
						background: url(../img/crm-li-bg-img.png) #ffffff 0px -12.618px / 100% 123.221% no-repeat;
						background-blend-mode: multiply;
						z-index: -1;
					}
					&.w-100{
						width: 100%;
					}
					.top{
						display: flex;
						align-items: center;
						// 1024 - 1920 : 24 - 45
						margin-bottom: clamp(1.5rem, -0.0006rem + 2.3446vw, 2.813rem);
						span.icon{
							width: 50px;
							height: 50px;
							background-color: #F3F3F3;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: 14px;
							transition: all 0.5s ease-in-out;
							@media(max-width: 767px){
								width: 40px;
								height: 40px;
							}
							svg{
								width: 30px;
								@media(max-width: 767px){
									width: 23px;
								}
							}
						}
					}
					.bottom{
						width: 82%;
						@media(max-width: 1080px){
							width: 100%;
						}
					}
					h3{
						// 320 - 1920 : 16 - 28
						font-size: clamp(1rem, 0.7rem + 0.75vw, 1.75rem);
						color: #5E5E5E;
						font-family: HelvNowDis-medium;
						font-weight: 500;
						@media(max-width: 1080px){
							width: 80%;
						}
						@media(max-width: 767px){
							// 340 - 767 : 17 - 20
							font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem) !important;
						}
					}
					p{
						color: #767676;
						font-family: HelvNowDis-light;
						font-weight: 300;
						line-height: 1.65em;
						// 320 - 1920 : 14 - 22
            font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
						@media(max-width: 1500px){
							font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
						}
						@media(max-width: 767px){
							// 340 - 767 : 15 - 18
							font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
							line-height: 1.7em;
						}
					}
					&:hover{
						.top{
							span.icon{
								background-color: var(--light_green);
								transition: all 0.5s ease-in-out;
								svg{
									path{
										fill: var(--white);
										transition: 0.5s ease-in-out;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// zoho crm section ends

	// engagement model section starts
	.engagement-model-wrapp{
		.container{
			.eng-model-step{
				ul{
					li{
						.eng-title{
							h5{
								font-weight: 400;
								font-family: HelvNowDis-reg;
								height: auto;
								// 320 - 1920 : 14 - 22
            		font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
								@media(max-width: 1500px){
									font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
								}
								@media(max-width: 767px){
									height: auto;
								}
								@media(max-width: 1080px){
									// 340 - 767 : 17 - 20
									font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
								}
							}
							p{
								@media(max-width: 1080px){
									// 340 - 767 : 17 - 20
									font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
									line-height: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
	// engagement model section ends

	// partner section starts
	.inside-partner-wrapper{
		.container{
			h2{
				// 1024 - 1920 : 20 - 54
				margin-bottom: clamp(1.813rem, 0.0279rem + 2.7893vw, 3.375rem);
			}
			.partner-single{
				li{
					width: 100%;
					border-radius: 4px;
					background: #FFF;
					display: flex;
					align-items: center;
					// 1024 - 1920 : 21 44 40 32 - 40 84 75 60
					padding: clamp(1.313rem, -0.0436rem + 2.1196vw, 2.5rem) clamp(2.75rem, -0.1071rem + 4.4643vw, 5.25rem) clamp(2.5rem, -0.0006rem + 3.9071vw, 4.688rem) clamp(2rem, 0.0000rem + 3.1250vw, 3.75rem);
					// 1024 - 1920 : 25 44 50 32 - 50 84 50 60
					padding: clamp(1.563rem, -1.7973rem + 5.2504vw, 3.125rem) clamp(2.75rem, -0.1071rem + 4.4643vw, 5.25rem) clamp(1.563rem, -1.7973rem + 5.2504vw, 3.125rem) clamp(2rem, 0.0000rem + 3.1250vw, 3.75rem);
					@media(max-width: 767px){
						flex-direction: column;
					}
					.part-txt{
						width: 65%;
						padding: 0;
						// 1024 - 1920 : 26 - 50
						margin-right: clamp(1.625rem, -0.0893rem + 2.6786vw, 3.125rem);
						@media(max-width: 767px){
							width: 100%;
							margin-right: 0;
							margin-bottom: 20px;
						}
						p{
							text-align: left;
							line-height: 1.9em;
							@media(max-width: 767px){
								// 340 - 767 : 15 - 18
								font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
								line-height: 1.7em;
							}
						}
					}
					.part-img{
						width: 35%;
						@media(max-width: 767px){
							width: 80%;
						}
						img{
							@media(max-width: 767px){
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
	// partner section ends

	// zoho apps section starts
	.zoho-app-wrapper{
		position: relative;
		z-index: 9;
		.container{
			h2{
				background: linear-gradient(0deg, #313131 37.7%, #525252 79.71%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				@media(max-width: 1500px){
					margin-bottom: 10px;
				}
				@media(max-width: 767px){
					margin-bottom: 0;
					padding-bottom: 20px;
				}
			}
			.zoho-app-list{
				display: flex;
				flex-direction: column;
				gap: 60px 0;
				@media(max-width: 767px){
					gap: 30px 0;
				}
				li{
					background: #FFF;
					// box-shadow: 0 7px 32.1px 0 rgba(0, 0, 0, 0.08);
					box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.06);
					position: relative;
					// 1024 - 1920 : 37 40 - 70 80
					padding: clamp(2.313rem, -0.0436rem + 3.6821vw, 4.375rem) clamp(2.5rem, -0.3571rem + 4.4643vw, 5rem);
					// 1024 - 1920 : 53 - 100
					padding-bottom: clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					position: sticky;
					top: 90px;
					@media(max-width: 767px){
						padding: 40px 20px 20px;
					}
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 13px;
						background-color: var(--light_green);
						@media(max-width: 767px){
							height: 8px;
						}
					}
					.zoho-app-logo{
						width: 80%;
						// 1024 - 1920 : 20 - 35
						padding-bottom: clamp(1.25rem, 0.1780rem + 1.6750vw, 2.188rem);
						@media(max-width: 767px){
							width: 60%;
						}
						img{
							@media(max-width: 1500px){
								width: 250px;
							}
							@media(max-width: 1080px){
								width: 200px;
							}
						}
					}
					.zoho-app-img{
						position: absolute;
						// 1024 - 1920 : 20 - 40
						// right: clamp(1.25rem, -0.1786rem + 2.2321vw, 2.5rem);
						right: 20px;
						top: 100px;
						@media(max-width: 767px){
							position: relative;
							top: 0;
							right: 0;
						}
					}
					.zoho-app-txt{
						// padding-left: 20px;
						p{
							// 320 - 1920 : 14 - 22
            	font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
							color: #767676;
							font-family: HelvNowDis-light;
							font-weight: 300;
							line-height: 1.7em;
							@media(max-width: 1500px){
								font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
							}
							@media(max-width: 767px){
								// 340 - 767 : 15 - 18
								font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
								line-height: 1.7em;
							}
						}
						.fill-btn{
							border-radius: 77px;
							border: 1px solid #4E9C5A;
							background: rgba(78, 156, 90, 0.06);
							padding: 23px 35px;
							color: #4E9C5A;
							// 320 - 1920 : 14 - 22
            	font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
							position: relative;
							overflow: hidden;
							transition: color 0.5s ease-in-out;
							z-index: 1;
							// 1024 - 1920 : 20 - 50
							margin-top: clamp(1.25rem, -0.8929rem + 3.3482vw, 3.125rem);
							@media(max-width: 1500px){
								font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
							}
							@media(max-width: 1080px){
								padding: 15px 20px;
							}
							@media(max-width: 767px){
								// padding: 15px 20px;
								margin-bottom: 20px;
							}
							@media(max-width: 767px){
								// 340 - 767 : 15 - 18
								font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
								// line-height: 1.7em;
							}
							&:before{
								content: '';
								position: absolute;
								right: 0;
								top: 0;
								height: 100%;
								width: 0%;
								background-color: var(--light_green);
								transition: width 0.5s ease-in-out;
								z-index: -1;
							}
							&:hover{
								color: var(--white);
								transition: color 0.5s ease-in-out;
								&:before{
									width: 100%;
									transition: width 0.5s ease-in-out;
								}
							}
						}
					}
					.zoho-app-txt,.zoho-app-img{
						width: 50%;
						@media(max-width: 767px){
							width: 100%;
						}
					}
					.zoho-app-img{
						@media(max-width: 1500px){
							width: 45%;
						}
						@media(max-width: 767px){
							width: 100%;
						}
					}
				}
			}
		}
	}
	// zoho apps section ends

	// Industry section starts
	.insudtry-list-wrapp{
		&:before{
			display: none;
		}
		&.indus-flex-dir-btm{
			.container{
				@media(max-width: 767px){
					padding-left: 0;
				}
				.left{
					ul.flex-dir-row.flex-wrap{
						flex-wrap: wrap;
						justify-content: center;
						li{
							width: 30%;
							@media(max-width: 1500px){
								width: 25%;
							}
							@media(max-width: 1080px){
								width: 27%;
								align-self: center;
							}
							@media(max-width: 767px){
								width: 47%;
							}
						}
					}
				}
			}
		}
	}
	// Industry section ends

	// work reference section starts
	.work-ref-wrapper{
		.workSwiper{
			.swiper-slide{
				a{
					&:before{
						background-color: rgba(0, 0, 0, 0.01);
					}
				}
				.work-wrapp{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 0;
						// background: linear-gradient(0deg, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.54) 100%);
						background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255,255,255,0) 80%);
						z-index: 1;
					}
					.proj-txt{
						justify-content: flex-start;
						height: 100%;
						max-height: 320px;
						bottom: -200px;
						bottom: 0;
						transition: bottom 0.5s ease-in-out;
						z-index: 2;
						@media(max-width: 1500px){
							max-height: 240px;
							bottom: 0;
						}
						@media(max-width: 1080px){
							bottom: 0;
							max-height: auto;
						}
						.proj-name{
							text-align: center;
							font-family: HelvNowDis-medium;
							font-weight: 500;
						}
						.proj-name,p{
							// 320 - 1920 : 14 - 22
            	font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
							line-height: 1.6em;
							opacity: 1 !important;
							visibility: visible !important;
							@media(max-width: 1500px){
								font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
							}
							@media(max-width: 1080px){
								// 340 - 767 : 15 - 18
								font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
								// line-height: 1.7em;
							}
							// @media(max-width: 1080px){
							// 	opacity: 1;
							// 	visibility: visible;
							// }
						}
						p{
							&:last-child{
								@media(max-width: 1080px){
									display: block;
								}
							}
						}
					}
				}
				&:hover{
					.proj-txt{
						// bottom: 0;
						// transition: bottom 0.5s ease-in-out;
					}
					a{
						&:before{
							opacity: 0;
						}
					}
				}
			}
		}
	}
	// work reference section ends

}