:root {
  --white: #ffffff;
  --black: #000000;
  --light_green: #4e9c5a;
  --dark_grey: #121A21;
  --light_grey: #767676;
}

@font-face {
  font-family: "Untitled";
  src: url("../font/Untitled.woff2") format("woff2"), url("../font/Untitled.ttf") format("truetype"), url("../font/Untitled.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-palette-values --palette0 {
  font-family: "Untitled";
  base-palette: 0;
}
.icon-insurance:before {
  content: "\f006";
  font-family: "Untitled";
}

.icon-fmcg:before {
  content: "\f007";
  font-family: "Untitled";
}

.icon-automative:before {
  content: "\f00b";
  font-family: "Untitled";
}

.icon-Logistics:before {
  font-family: "Untitled";
  content: "\f004";
}

.icon-Facility-Management:before {
  font-family: "Untitled";
  content: "\f008";
}

.icon-Brokerage:before {
  font-family: "Untitled";
  content: "\f00a";
}

.icon-Operations:before {
  font-family: "Untitled";
  content: "\f003";
}

.icon-Accounting:before {
  font-family: "Untitled";
  content: "\f00c";
}

.icon-Reporting:before {
  font-family: "Untitled";
  content: "\f002";
}

.icon-Legacy-Integration:before {
  font-family: "Untitled";
  content: "\f005";
}

.icon-crm:before {
  font-family: "Untitled";
  content: "\f009";
}

.zoho-product:after {
  background-image: url(../img/zoho-bg-img.svg);
  top: 100px;
}
@media (max-width: 1500px) {
  .zoho-product:after {
    top: 100px;
    height: 80%;
  }
}
@media (max-width: 1080px) {
  .zoho-product:after {
    top: 190px;
    height: 80%;
  }
}
@media (max-width: 767px) {
  .zoho-product:after {
    top: 550px;
    height: 80%;
  }
}
.zoho-product .inside-child-intro-wrapper {
  padding-bottom: clamp(6.25rem, -0.1786rem + 10.0446vw, 11.875rem);
}
@media (max-width: 1080px) {
  .zoho-product .inside-child-intro-wrapper {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper {
    padding-bottom: 10px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper {
    flex-direction: column;
    padding-top: 30px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left {
  width: 50%;
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left {
    width: 100%;
    margin-bottom: 30px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: clamp(1.563rem, -0.2221rem + 2.7893vw, 3.125rem);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
  width: 260px;
  margin-right: 35px;
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 230px;
    margin-right: 25px;
  }
}
@media (max-width: 1380px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 200px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 150px;
    margin-right: 15px;
  }
}
@media (max-width: 450px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 140px;
    margin-right: 12px;
  }
}
@media (max-width: 350px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 130px;
    margin-right: 12px;
  }
}
@media (max-width: 345px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .zoho-logo {
    width: 110px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag {
  border-radius: 50px;
  border: 1px solid var(--light_green);
  background: #6DD17C;
  padding: 18px 25px;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag {
    padding: 13px 25px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag {
    padding: 10px 20px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag {
    padding: 10px 15px;
  }
}
@media (max-width: 600px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag {
    padding: 7px 11px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag img {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
  color: var(--white);
  line-height: 1.2em;
  font-size: 20px;
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
    font-size: 17px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
    font-size: 16px;
    line-height: 1.3em;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
    font-size: 14px;
  }
}
@media (max-width: 345px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-left-top-wrapp .partner-tag p {
    font-size: 13px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left h1 {
  background: linear-gradient(180deg, #C4C4C4 -71.43%, #3D3D3D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: HelvNowDis-medium;
  font-weight: 500;
  line-height: 1.13em;
  padding-bottom: clamp(1.563rem, 0.3493rem + 1.8964vw, 2.625rem);
  margin-bottom: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left h1 span {
  display: block;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left h1:before {
  left: 0;
  transform: translateX(0);
  height: 3px;
  background-color: var(--light_green);
  width: 100px;
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left h1:before {
    width: 85px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .sub-txt {
  color: #3D3D3D;
  font-family: HelvNowDis-light;
  font-weight: 300;
  line-height: 1.45em;
  font-size: clamp(1.188rem, 0.26rem + 1.45vw, 2rem);
}
@media (max-width: 1023px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .sub-txt {
    font-size: clamp(1.063rem, 1.0348rem + 0.1411vw, 1.125rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .sub-txt {
    font-size: clamp(1.125rem, 0.9259rem + 0.9368vw, 1.375rem);
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .sub-txt br {
  display: none;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks {
  margin-top: clamp(1.25rem, -0.0357rem + 2.0089vw, 2.375rem);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a {
  color: var(--light_green);
  padding: 3px 18px 3px 0;
  margin-right: 18px;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: HelvNowDis-light;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1380px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a {
    margin-bottom: 12px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a {
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a {
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--light_green);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a:hover {
  color: #3D3D3D;
  transition: all 0.3s ease-in-out;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li a:hover:after {
  background-color: #3D3D3D;
  transition: all 0.3s ease-in-out;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li:first-child a {
  padding-left: 0;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li:last-child a {
  margin-right: 0;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .left .zoho-interlinks ul li:last-child a:after {
  display: none;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right {
  width: 45%;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 7px 12px 25.2px 0 rgba(0, 0, 0, 0.11);
  padding: clamp(1.625rem, -0.0893rem + 2.6786vw, 3.125rem) clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right {
    padding: clamp(1.625rem, -0.0893rem + 3.6786vw, 3.125rem) clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
  }
}
@media (max-width: 1365px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right {
    padding: 40px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right {
    padding: 30px 20px;
    width: 100%;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 20px;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li {
  margin-bottom: 25px;
  width: 31%;
}
@media (max-width: 1247px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li {
    width: 30%;
  }
}
@media (max-width: 870px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li {
    width: 100%;
    margin-bottom: 20px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li.w-100 {
  width: 100%;
  margin-right: 0;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li.w-50 {
  width: 47%;
}
@media (max-width: 1109px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li.w-50 {
    width: 47%;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li.w-50 {
    width: 100%;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li:last-child {
  margin-bottom: 0;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li label {
  color: #7A7A7A;
  font-family: HelvNowDis-light;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li label {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li label {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
    font-size: 15px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
  border: none;
  padding: 20px 0 15px;
  border-bottom: 1px solid #7A7A7A;
  box-sizing: border-box;
  width: 100%;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
    padding: 15px 0 12px;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
    font-size: 15px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
  color: var(--dark_grey);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input:focus, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input:focus-visible, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea:focus, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea:focus-visible {
  outline: none;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::-moz-placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::-moz-placeholder {
  color: #7A7A7A;
  font-family: HelvNowDis-light;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::placeholder {
  color: #7A7A7A;
  font-family: HelvNowDis-light;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::-moz-placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::-moz-placeholder {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::placeholder {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::-moz-placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::-moz-placeholder {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
    font-size: 15px;
  }
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li input::placeholder, .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea::placeholder {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
    font-size: 15px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
  height: 100px;
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li textarea {
    height: 80px;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: clamp(1rem, 0rem + 1.5625vw, 1.875rem);
}
@media (max-width: 767px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap {
    justify-content: center;
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap {
  position: relative;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all {
  padding: 15px 25px;
  width: auto;
  border-radius: 50px;
  border: 1px solid #ABABAB;
  background: #F0EFEF;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all input {
  background: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  border: none;
  z-index: 10;
  color: transparent;
  left: 0;
  cursor: pointer;
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all .text {
  color: #7A7A7A;
  font-family: HelvNowDis-light;
  font-weight: 300;
  text-transform: initial;
  font-size: clamp(1.063rem, 0.2779rem + 1.2268vw, 1.75rem);
}
@media (max-width: 1500px) {
  .zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all .text {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all .wpcf7-spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.zoho-product .inside-child-intro-wrapper .container .product-head-wrapper .right .form-wrap form .form-wrapper ul li .submit-button-wrap .btn-wrap .view-all:hover .text {
  color: var(--white);
}
@media (max-width: 1080px) {
  .zoho-product .intro-highlight-wrapper .container .right p {
    line-height: 1.5em;
  }
}
@media (max-width: 767px) {
  .zoho-product .intro-highlight-wrapper .container .right p {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
  }
}
.zoho-product .strategic-choice-wrapper .container h2 {
  padding-bottom: 0;
  margin-bottom: clamp(2.5rem, -0.3571rem + 4.4643vw, 5rem);
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .left {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right:before {
    top: 6px;
  }
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right:before {
    width: 10px;
    height: 10px;
    top: 65px;
  }
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right:after {
    top: 85px;
    height: 70%;
  }
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right .line-fill {
    top: 85px;
    height: 70%;
  }
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right .title {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem) !important;
  }
}
@media (max-width: 767px) {
  .zoho-product .strategic-choice-wrapper .container ul li .right p {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
    line-height: 1.7em;
  }
}
.zoho-product .zoho-crm-wrapper {
  position: relative;
  z-index: 9;
}
.zoho-product .zoho-crm-wrapper .container .crm-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 4px;
}
.zoho-product .zoho-crm-wrapper .container .crm-list li {
  width: 49.7%;
  border-radius: 4px;
  border: 1px solid rgba(230, 230, 230, 0);
  background: #FFF;
  box-shadow: 0 331px 93px 0 rgba(0, 0, 0, 0), 0 212px 85px 0 rgba(0, 0, 0, 0), 0 119px 71px 0 rgba(0, 0, 0, 0.01), 0 53px 53px 0 rgba(0, 0, 0, 0.02), 0 13px 29px 0 rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 1;
  padding: clamp(1.313rem, -0.0436rem + 2.1196vw, 2.5rem);
}
@media (max-width: 767px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li {
    width: 100%;
    padding: 20px;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.27;
  background: url(../img/crm-li-bg-img.png) #ffffff 0px -12.618px/100% 123.221% no-repeat;
  background-blend-mode: multiply;
  z-index: -1;
}
.zoho-product .zoho-crm-wrapper .container .crm-list li.w-100 {
  width: 100%;
}
.zoho-product .zoho-crm-wrapper .container .crm-list li .top {
  display: flex;
  align-items: center;
  margin-bottom: clamp(1.5rem, -0.0006rem + 2.3446vw, 2.813rem);
}
.zoho-product .zoho-crm-wrapper .container .crm-list li .top span.icon {
  width: 50px;
  height: 50px;
  background-color: #F3F3F3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li .top span.icon {
    width: 40px;
    height: 40px;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li .top span.icon svg {
  width: 30px;
}
@media (max-width: 767px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li .top span.icon svg {
    width: 23px;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li .bottom {
  width: 82%;
}
@media (max-width: 1080px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li .bottom {
    width: 100%;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li h3 {
  font-size: clamp(1rem, 0.7rem + 0.75vw, 1.75rem);
  color: #5E5E5E;
  font-family: HelvNowDis-medium;
  font-weight: 500;
}
@media (max-width: 1080px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li h3 {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li h3 {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem) !important;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li p {
  color: #767676;
  font-family: HelvNowDis-light;
  font-weight: 300;
  line-height: 1.65em;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
@media (max-width: 1500px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li p {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-crm-wrapper .container .crm-list li p {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
    line-height: 1.7em;
  }
}
.zoho-product .zoho-crm-wrapper .container .crm-list li:hover .top span.icon {
  background-color: var(--light_green);
  transition: all 0.5s ease-in-out;
}
.zoho-product .zoho-crm-wrapper .container .crm-list li:hover .top span.icon svg path {
  fill: var(--white);
  transition: 0.5s ease-in-out;
}
.zoho-product .engagement-model-wrapp .container .eng-model-step ul li .eng-title h5 {
  font-weight: 400;
  font-family: HelvNowDis-reg;
  height: auto;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
@media (max-width: 1500px) {
  .zoho-product .engagement-model-wrapp .container .eng-model-step ul li .eng-title h5 {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .engagement-model-wrapp .container .eng-model-step ul li .eng-title h5 {
    height: auto;
  }
}
@media (max-width: 1080px) {
  .zoho-product .engagement-model-wrapp .container .eng-model-step ul li .eng-title h5 {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
  }
}
@media (max-width: 1080px) {
  .zoho-product .engagement-model-wrapp .container .eng-model-step ul li .eng-title p {
    font-size: clamp(1.063rem, 0.9141rem + 0.7007vw, 1.25rem);
    line-height: 1.5em;
  }
}
.zoho-product .inside-partner-wrapper .container h2 {
  margin-bottom: clamp(1.813rem, 0.0279rem + 2.7893vw, 3.375rem);
}
.zoho-product .inside-partner-wrapper .container .partner-single li {
  width: 100%;
  border-radius: 4px;
  background: #FFF;
  display: flex;
  align-items: center;
  padding: clamp(1.313rem, -0.0436rem + 2.1196vw, 2.5rem) clamp(2.75rem, -0.1071rem + 4.4643vw, 5.25rem) clamp(2.5rem, -0.0006rem + 3.9071vw, 4.688rem) clamp(2rem, 0rem + 3.125vw, 3.75rem);
  padding: clamp(1.563rem, -1.7973rem + 5.2504vw, 3.125rem) clamp(2.75rem, -0.1071rem + 4.4643vw, 5.25rem) clamp(1.563rem, -1.7973rem + 5.2504vw, 3.125rem) clamp(2rem, 0rem + 3.125vw, 3.75rem);
}
@media (max-width: 767px) {
  .zoho-product .inside-partner-wrapper .container .partner-single li {
    flex-direction: column;
  }
}
.zoho-product .inside-partner-wrapper .container .partner-single li .part-txt {
  width: 65%;
  padding: 0;
  margin-right: clamp(1.625rem, -0.0893rem + 2.6786vw, 3.125rem);
}
@media (max-width: 767px) {
  .zoho-product .inside-partner-wrapper .container .partner-single li .part-txt {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.zoho-product .inside-partner-wrapper .container .partner-single li .part-txt p {
  text-align: left;
  line-height: 1.9em;
}
@media (max-width: 767px) {
  .zoho-product .inside-partner-wrapper .container .partner-single li .part-txt p {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
    line-height: 1.7em;
  }
}
.zoho-product .inside-partner-wrapper .container .partner-single li .part-img {
  width: 35%;
}
@media (max-width: 767px) {
  .zoho-product .inside-partner-wrapper .container .partner-single li .part-img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .zoho-product .inside-partner-wrapper .container .partner-single li .part-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.zoho-product .zoho-app-wrapper {
  position: relative;
  z-index: 9;
}
.zoho-product .zoho-app-wrapper .container h2 {
  background: linear-gradient(0deg, #313131 37.7%, #525252 79.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1500px) {
  .zoho-product .zoho-app-wrapper .container h2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container h2 {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list {
    gap: 30px 0;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li {
  background: #FFF;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  padding: clamp(2.313rem, -0.0436rem + 3.6821vw, 4.375rem) clamp(2.5rem, -0.3571rem + 4.4643vw, 5rem);
  padding-bottom: clamp(3.313rem, -0.0436rem + 5.2446vw, 6.25rem);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: sticky;
  top: 90px;
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li {
    padding: 40px 20px 20px;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13px;
  background-color: var(--light_green);
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li:before {
    height: 8px;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-logo {
  width: 80%;
  padding-bottom: clamp(1.25rem, 0.178rem + 1.675vw, 2.188rem);
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-logo {
    width: 60%;
  }
}
@media (max-width: 1500px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-logo img {
    width: 250px;
  }
}
@media (max-width: 1080px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-logo img {
    width: 200px;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
  position: absolute;
  right: 20px;
  top: 100px;
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
    position: relative;
    top: 0;
    right: 0;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt p {
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  color: #767676;
  font-family: HelvNowDis-light;
  font-weight: 300;
  line-height: 1.7em;
}
@media (max-width: 1500px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt p {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt p {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
    line-height: 1.7em;
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn {
  border-radius: 77px;
  border: 1px solid #4E9C5A;
  background: rgba(78, 156, 90, 0.06);
  padding: 23px 35px;
  color: #4E9C5A;
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease-in-out;
  z-index: 1;
  margin-top: clamp(1.25rem, -0.8929rem + 3.3482vw, 3.125rem);
}
@media (max-width: 1500px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 1080px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn {
    padding: 15px 20px;
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
  }
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: var(--light_green);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn:hover {
  color: var(--white);
  transition: color 0.5s ease-in-out;
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt .fill-btn:hover:before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt, .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
  width: 50%;
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-txt, .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .zoho-product .zoho-app-wrapper .container .zoho-app-list li .zoho-app-img {
    width: 100%;
  }
}
.zoho-product .insudtry-list-wrapp:before {
  display: none;
}
@media (max-width: 767px) {
  .zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container {
    padding-left: 0;
  }
}
.zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container .left ul.flex-dir-row.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
}
.zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container .left ul.flex-dir-row.flex-wrap li {
  width: 30%;
}
@media (max-width: 1500px) {
  .zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container .left ul.flex-dir-row.flex-wrap li {
    width: 25%;
  }
}
@media (max-width: 1080px) {
  .zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container .left ul.flex-dir-row.flex-wrap li {
    width: 27%;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .zoho-product .insudtry-list-wrapp.indus-flex-dir-btm .container .left ul.flex-dir-row.flex-wrap li {
    width: 47%;
  }
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide a:before {
  background-color: rgba(0, 0, 0, 0.01);
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp {
  position: relative;
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
  z-index: 1;
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt {
  justify-content: flex-start;
  height: 100%;
  max-height: 320px;
  bottom: -200px;
  bottom: 0;
  transition: bottom 0.5s ease-in-out;
  z-index: 2;
}
@media (max-width: 1500px) {
  .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt {
    max-height: 240px;
    bottom: 0;
  }
}
@media (max-width: 1080px) {
  .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt {
    bottom: 0;
    max-height: auto;
  }
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt .proj-name {
  text-align: center;
  font-family: HelvNowDis-medium;
  font-weight: 500;
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt .proj-name, .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt p {
  font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
  line-height: 1.6em;
  opacity: 1 !important;
  visibility: visible !important;
}
@media (max-width: 1500px) {
  .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt .proj-name, .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt p {
    font-size: clamp(0.875rem, 0.775rem + 0.35vw, 1.375rem);
  }
}
@media (max-width: 1080px) {
  .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt .proj-name, .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt p {
    font-size: clamp(0.938rem, 0.7891rem + 0.7007vw, 1.125rem);
  }
}
@media (max-width: 1080px) {
  .zoho-product .work-ref-wrapper .workSwiper .swiper-slide .work-wrapp .proj-txt p:last-child {
    display: block;
  }
}
.zoho-product .work-ref-wrapper .workSwiper .swiper-slide:hover a:before {
  opacity: 0;
}/*# sourceMappingURL=zoho-product.css.map */